<div
  [ngClass]="{
    'inline-block': true,
    error: input.touched && input.dirty && !input.value,
    disabled: disabled,
    'show-icon': icon,
    information: informationText
  }"
>
  <label [for]="name" class="inline-block text-sm mb-2">{{ label }}</label>
  <div ngClass="relative inline-block w-full">
    <label [for]="name" *ngIf="icon" class="input-icon">
      <i [class]="'icon icon-vnlp-icon-' + icon"></i>
    </label>
    <label
      *ngIf="value.length > 0"
      [for]="name"
      class="close-icon"
      (click)="clearInput()"
    >
      <i class="icon icon-vnlp-icon-close-circle-linear"></i>
    </label>

    <input
      [name]="name"
      [id]="name"
      class="w-full h-[48px] rounded-[10px] transition-all ease-in-out duration-200"
      [(ngModel)]="value"
      (ngModelChange)="handleChange()"
      (blur)="handleBlur($event)"
      (keyup.enter)="handleBlur($event)"
      type="text"
      [placeholder]="placeholder"
      [disabled]="disabled"
      #input="ngModel"
    />
    <div *ngIf="informationText" class="info-text text-sm error-msg mt-2">
      {{ informationText }}
    </div>
    <div
      *ngIf="input.touched && input.dirty && !input.value && !informationText"
      class="text-sm error-msg mt-2"
    >
      Field required
    </div>
  </div>
</div>
