@import 'variable';

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  font-family: $font-family-default;
  font-size: map-get($font-size, md);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
}

h2 {
  font-size: map-get($font-size, lg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-default;
  color: map-get($color, neutral-3);
  font-weight: 400;
  padding: 0;
  margin: 0;
}

input {
  outline: none;
}
