// === Color ===
$color: (
  // === Primary - Blue Darknut ===
  primary-100: #e6f2fe,
  primary-200: #cce5fe,
  primary-300: #99cbfd,
  primary-400: #66b1fb,
  primary-500: #3397fa,
  primary: #007df9,
  primary-700: #0064c7,
  primary-800: #004b95,
  primary-900: #003264,
  primary-1000: #001932,

  // === Secondary - Lucky Orange ===
  secondary-100: #fff1e6,
  secondary-200: #ffe3cc,
  secondary-300: #ffc899,
  secondary-400: #ffac66,
  secondary-500: #ff9133,
  secondary: #ff7500,
  secondary-700: #cc5e00,
  secondary-800: #994600,
  secondary-900: #662f00,
  secondary-1000: #331700,

  // === Success - Green ===
  neutral-light-100: #ffffff,
  neutral-light-200: #ffffff,
  neutral-light-300: #ffffff,
  neutral-light-400: #ffffff,
  neutral-light-500: #ffffff,
  neutral-light: #ffffff,
  neutral-light-700: #cccccc,
  neutral-light-800: #999999,
  neutral-light-900: #666666,
  neutral-light-1000: #333333,

  //  === Black - Neutral Dark ===
  neutral-dark-100: #e8e8e8,
  neutral-dark-200: #d0d0d0,
  neutral-dark-300: #a1a1a2,
  neutral-dark-400: #727273,
  neutral-dark-500: #5e6678,
  neutral-dark: #141416,
  neutral-dark-700: #101012,
  neutral-dark-800: #0c0c0d,
  neutral-dark-900: #080809,
  neutral-dark-1000: #040404,

  // === System - Error ===
  error-100: #ffe8ec,
  error-200: #fed1d8,
  error-300: #fda4b1,
  error-400: #fd768a,
  error-500: #fc4963,
  error: #fb1b3c,
  error-700: #c91630,
  error-800: #971024,
  error-900: #640b18,
  error-1000: #32050c,

  // === System - Warning ===
  success-100: #f0f7ea,
  success-200: #e0efd4,
  success-300: #c1dfa9,
  success-400: #a3ce7f,
  success-500: #84be54,
  success: #65ae29,
  success-700: #65ae29,
  success-800: #518b21,
  success-900: #284610,
  success-1000: #142308,

  // === System - Warning ===
  warning-100: #fff9ea,
  warning-200: #fff3d5,
  warning-300: #fee6ab,
  warning-400: #feda80,
  warning-500: #fdcd56,
  warning: #fdc12c,
  warning-700: #ca9a23,
  warning-800: #98741a,
  warning-900: #654d12,
  warning-1000: #332709,

  // === Neutral ===
  stroke: #e6e8ec,
  neutral-8: #ffffff,
  neutral-7: #f4f5f6,
  neutral-6: #e6e8ec,
  neutral-5: #b1b5c3,
  neutral-4: #777e90,
  neutral-3: #353945,
  neutral-2: #23262f,
  neutral-1: #141416
);

// === Font-size ===
$font-size: (
  sm: 14px,
  md: 16px,
  lg: 18px,
  xl: 20px,
  2xl: 22px,
  3xl: 24px,
  4xl: 26px,
  5xl: 28px,
);

$font-family-default: 'Inter', sans-serif;
