<div
  [ngClass]="{ 'rounded-[50%]': secondType !== null }"
  class="flex items-center justify-center gap-[6px] rounded-[10px] py-[5px] px-[12px]"
  [ngStyle]="{
    width: width,
    height: height,
    'background-color': backgroundColor,
    border : border
  }"
>
  <div *ngIf="secondType !== 'icon'" [ngClass]="{ 'order-1': secondType === 'icon text' }" class="text-[14px] font-normal text-primary">Chip</div>
  <i *ngIf="secondType !== null && secondType !== 'with image'" [class]="'icon-vnlp-icon-calendar-line'"></i>
  <img *ngIf="secondType === 'with image'" class="h-[20px] w-[20px] rounded-[50%]" src="{{ imgUrl }}" />
</div>
