<div
  [ngClass]="{ 'rounded-[8px]': secondType !== null }"
  class="flex items-center justify-center gap-[6px] rounded-[10px] py-[5px] px-[12px]"
  [ngStyle]="{
    width: width,
    height: height,
    'background-color': backgroundColor,
    border: border
  }"
>
  <div
    *ngIf="secondType !== 'icon'"
    [ngClass]="{ 'order-1': secondType === 'icon text' }"
    class="text-[14px] font-normal text-neutral-8"
  >
    Chip
  </div>
  <i
    *ngIf="secondType !== null && secondType !== 'with image'"
    [class]="'icon-vnlp-icon-add-circle-linear'"
  ></i>
  <img
    *ngIf="secondType === 'with image'"
    class="h-[20px] w-[20px] rounded-[50%]"
    src="{{ imgUrl }}"
  />
</div>
