@import './../../assets/sass/base/variable';

.vnlp-radio-card-container {
  min-width: 320px;
  display: inline-flex;
  flex-direction: column;
  padding: 18px 16px;
  border-radius: 10px;
  border: 1px solid map-get($color, stroke);
  background-color: map-get($color, neutral-8);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;

  .label {
    font-size: 14px;
    font-weight: bold;
  }

  .description {
    font-size: 14px;
    color: map-get($color, neutral-4);
  }

  &:hover {
    border: 1px solid map-get($color, neutral-5);
  }

  &:active {
    box-shadow: 0 0 1px 3px map-get($color, neutral-6);
  }

  &.checked {
    border: 1px solid map-get($color, primary);
    background-color: map-get($color, primary-100);

    &:hover {
      border: 1px solid map-get($color, primary-400);
    }

    &:active {
      box-shadow: 0 0 1px 3px map-get($color, primary-200);
    }
  }

  &.disabled {
    cursor: not-allowed;
    background-color: map-get($color, neutral-7);
    border: none;

    &:active {
      box-shadow: none;
    }

    &.checked {
      box-shadow: none;
      border: none;
    }
  }
}
