<div class="vnlp-table-container">
  <div class="loading"></div>
  <table>
    <thead>
      <tr>
        <th class="check-all-record" *ngIf="selectable">
          <vnlp-checkbox
            [checked]="checkedAll"
            (onChange)="handleCheckedAll()"
          ></vnlp-checkbox>
        </th>
        <th
          *ngFor="let col of columns"
          (click)="col.sortable && handleSort(col.key)"
        >
          <i
            *ngIf="col.sortable"
            [ngClass]="{
              'cursor-pointer icon icon-vnlp-icon-upanddown-line transition-all ease-in-out duration-200 rotate-180': true,
              'icon-vnlp-icon-arrow-up-line': pageOptions.sortField === col.key,
              'rotate-180':
                pageOptions.sortField === col.key && pageOptions.sort === -1
            }"
          ></i>
          <span>{{ col.title }}</span>
        </th>
        <th *ngIf="columns.length" class="action-header">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="dataTable.length; else emptyData">
      <tr *ngFor="let item of dataTable">
        <td *ngIf="selectable">
          <vnlp-checkbox
            [(checked)]="item[selectKey]"
            (onChange)="handleShowCheckedAll()"
          ></vnlp-checkbox>
        </td>
        <td *ngFor="let col of columns">{{ item[col.key] }}</td>
        <td class="action-col">
          <div class="flex justify-end">
            <i
              *ngIf="deletable"
              class="icon icon-vnlp-icon-trash-linear hidden"
              (click)="handleDeleteRecord(item[key])"
            ></i>
            <i
              *ngIf="editable"
              class="icon icon-vnlp-icon-magicpen-linear hidden"
              (click)="handleEditRecord(item[key])"
            ></i>
          </div>
        </td>
      </tr>
    </tbody>
    <ng-template #emptyData>
      <tr>
        <td [attr.colspan]="columns.length + 2" class="empty-data">
          <span>No data</span>
          <p>Create first data now!</p>
          <div class="create-button inline-flex items-center">
            <i class="icon icon-vnlp-icon-add-linear"></i>
            <span>Create</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </table>
  <div *ngIf="pageOptions.pagination" class="table-footer">
    <p class="counter">{{ getDisplayText() }}</p>
    <div class="paginator">
      <button
        [disabled]="pageOptions.currentPage == 1"
        (click)="prevPage()"
        class="paginator-prev icon icon-vnlp-icon-arrow-left-simple-line"
      ></button>
      <ng-container *ngFor="let pageNumber of pages">
        <button
          class="page-number"
          [class.active]="pageNumber == pageOptions.currentPage"
          (click)="goToPage(pageNumber)"
        >
          {{ pageNumber }}
        </button>
      </ng-container>
      <button
        [disabled]="pageOptions.currentPage == lastPage || lastPage === 0"
        (click)="nextPage()"
        class="paginator-next icon icon-vnlp-icon-arrow-right-simple-line"
      ></button>
    </div>
  </div>
</div>
