<button
  [ngClass]="{
    'px-3 py-4 rounded-lg inline-flex justify-between items-center capitalize disabled:opacity-50 transition ease-in-out duration-200': true,
    primary: type === 'primary',
    light: type === 'light',
    transparent: type === 'transparent',
    sm: size === 'sm',
    lg: size === 'lg',
    'show-icon': icon
  }"
  (click)="handleClick()"
  [disabled]="disabled"
>
  <span
    [ngClass]="{
      'font-bold text-light': true,
      'order-1': icon && iconPosition === 'right',
      'txt-sm': size === 'sm',
      'text-lg': size === 'lg'
    }"
  >
    {{ title }}
  </span>
  <i *ngIf="icon" [class]="'icon icon-vnlp-icon-' + icon"></i>
</button>
