@import '../base/variable';
@import '../base/mixins';

input {
  margin: 0;
  outline: none;
  padding: 0;
}

.form-group {
  width: 100%;

  .form-control {
    flex-direction: column;
    @include pxRem(margin-bottom, 16);
    @include flex(unset, unset);
    width: 100%;

    .form-label {
      @include pxRem(padding-bottom, 16);
    }

    .form-input {
      @include pxRem(height, 32);
      border: none;
      width: 100%;

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
      }
    }

    &-prefix {
    }

    &-suffix {
      @include pxRem(border-radius, 4);
      @include pxRem(margin, 5 0);
      @include pxRem(padding, 0 8);
      @include flex(flex-start, center);
      border: 1px solid map-get($color, border);
    }

    &-error {
    }
  }

  .form-submit {
    width: 100%;
  }
}
