<div class="flex h-[100vh] w-[100%] overflow-hidden">
  <!-- Sidebar -->
  <vnlp-suv-nav-vertical></vnlp-suv-nav-vertical>

  <div class="grid flex-grow content-start bg-success-200">
    <!-- Header -->
    <div class="relative h-[60px]">
      <vnlp-header class="absolute w-[100%]"></vnlp-header>
    </div>
    <!-- main content -->
    <div class="overflow-auto scrollbar-hide">
      <router-outlet></router-outlet>
    </div>

    <!-- footer -->
    <!-- <app-footer></app-footer> -->

    <!-- Bottom bar -->
    <!-- <app-bottom-navbar></app-bottom-navbar> -->
  </div>
</div>