<div class="flex h-[100vh] w-[100%] overflow-hidden">
  <!-- Sidebar -->
  <vnlp-suv-nav-vertical></vnlp-suv-nav-vertical>

  <div class="grid flex-grow content-start bg-gray-100">
    <!-- Header -->
    <div class="relative h-[60px]">
      <vnlp-header class="absolute w-[100%]"></vnlp-header>
      <vnlp-avatar
        [imgUrl]="
          'https://nld.mediacdn.vn/thumb_w/600/2015/anonymous-1447907195159.jpg'
        "
        [status]="'online'"
        class="absolute right-[28px] mt-[10px]"
      ></vnlp-avatar>
    </div>
    <!-- main content -->
    <div
      class="scrollbar-thumb-rounded scrollbar-track-rounded overflow-auto scrollbar-thin scrollbar-thumb-white scrollbar-track-gray-100"
    >
      <router-outlet></router-outlet>
    </div>

    <!-- footer -->
    <!-- <app-footer></app-footer> -->

    <!-- Bottom bar -->
    <!-- <app-bottom-navbar></app-bottom-navbar> -->
  </div>
</div>
