<div class="bg-neutral-8">
  <div class="flex items-center justify-between h-[60px] px-[28px]">
    <div class="text-sm font-semibold"><vnlp-breadcrumb></vnlp-breadcrumb></div>
    <div class="flex gap-[20px] items-center">
      <vnlp-search></vnlp-search>
      <span class="text-neutral-4 text-xl">
        <i [class]="'icon-vnlp-icon-info-circle-linear'"></i>
      </span>
      <div class="pointer-events-none flex gap-[6px] items-center">
        <div class="text-xs font-bold">ENG</div>
      </div>
      <div class="cursor-pointer">
        <vnlp-avatar></vnlp-avatar>
      </div>
    </div>
  </div>
</div>
