<div class="relative bg-white">
  <div class="flex items-center justify-between h-[60px] px-[28px]">
    <div class="text-sm font-semibold"><vnlp-breadcrumb></vnlp-breadcrumb></div>
    <div class="flex gap-5 pr-[40px]">
      <span class="text-neutral-5 text-[20px]">
        <i [class]="'icon-vnlp-icon-info-circle-filled'"></i>
      </span>
      <div class="pointer-events-none flex gap-[5px] items-center">
        <div class="text-xs font-bold">ENG</div>
      </div>
      <div class="cursor-pointer">
        <!-- <app-avatar></app-avatar> -->
      </div>
    </div>
  </div>
</div>
