<div class="sth">
  <ul class="vnlp-switcher-container">
    <div
      [ngClass]="{
        slider: true,
        first: selectedIndex === 1,
        last: selectedIndex === switcherList.length
      }"
      [ngStyle]="{
        width: 'calc(' + 100 / switcherList.length + '% + 1px)',
        left: 'calc(' + selectedIndex * (100 / switcherList.length) + '% - 1px)'
      }"
      [attr.data-index]="selectedIndex"
    ></div>
    <li
      *ngFor="let section of switcherList; index as i"
      [class.active]="section?.title === selected"
      (click)="handleSwitch(i)"
      [style.width.%]="100 / switcherList.length"
      [class.selected]="selectedIndex === i"
    >
      <i
        *ngIf="section?.icon"
        [class]="'mr-2 icon icon-vnlp-icon-' + section?.icon"
      ></i>

      <span *ngIf="section?.title">{{ section?.title }}</span>
    </li>
  </ul>
</div>
