@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?62207560');
  src: url('../font/fontello.eot?62207560#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?62207560') format('woff2'),
       url('../font/fontello.woff?62207560') format('woff'),
       url('../font/fontello.ttf?62207560') format('truetype'),
       url('../font/fontello.svg?62207560#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?62207560#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-vnlp-icon-music-01-filled:before { content: '\e800'; } /* '' */
.icon-upload-cloud:before { content: '\e801'; } /* '' */
.icon-vnlp-icon-music-02-filled:before { content: '\e802'; } /* '' */
.icon-vnlp-icon-music-01-line:before { content: '\e803'; } /* '' */
.icon-vnlp-icon-music-02-line:before { content: '\e804'; } /* '' */
.icon-vnlp-icon-netflix-filled:before { content: '\e805'; } /* '' */
.icon-vnlp-icon-netflix-line:before { content: '\e806'; } /* '' */
.icon-vnlp-icon-next-filled:before { content: '\e807'; } /* '' */
.icon-vnlp-icon-next-line:before { content: '\e808'; } /* '' */
.icon-vnlp-icon-none-line:before { content: '\e809'; } /* '' */
.icon-vnlp-icon-options-square-filled:before { content: '\e80a'; } /* '' */
.icon-vnlp-icon-options-square-line:before { content: '\e80b'; } /* '' */
.icon-vnlp-icon-paint-bucket-filled:before { content: '\e80c'; } /* '' */
.icon-vnlp-icon-paint-bucket-line:before { content: '\e80d'; } /* '' */
.icon-vnlp-icon-paint-roller-filled:before { content: '\e80e'; } /* '' */
.icon-vnlp-icon-paint-roller-line:before { content: '\e80f'; } /* '' */
.icon-vnlp-icon-palette-filled:before { content: '\e810'; } /* '' */
.icon-vnlp-icon-palette-line:before { content: '\e811'; } /* '' */
.icon-vnlp-icon-patch-filled:before { content: '\e812'; } /* '' */
.icon-vnlp-icon-patch-line:before { content: '\e813'; } /* '' */
.icon-vnlp-icon-pause-circle-filled:before { content: '\e814'; } /* '' */
.icon-vnlp-icon-pause-circle-line:before { content: '\e815'; } /* '' */
.icon-vnlp-icon-pause-line:before { content: '\e816'; } /* '' */
.icon-vnlp-icon-pause-filled:before { content: '\e817'; } /* '' */
.icon-vnlp-icon-pear-filled:before { content: '\e818'; } /* '' */
.icon-vnlp-icon-pear-line:before { content: '\e819'; } /* '' */
.icon-vnlp-icon-pencil-filled:before { content: '\e81a'; } /* '' */
.icon-vnlp-icon-pencil-line:before { content: '\e81b'; } /* '' */
.icon-vnlp-icon-pen-filled:before { content: '\e81c'; } /* '' */
.icon-vnlp-icon-pen-line:before { content: '\e81d'; } /* '' */
.icon-vnlp-icon-perspective-filled:before { content: '\e81e'; } /* '' */
.icon-vnlp-icon-perspective-line:before { content: '\e81f'; } /* '' */
.icon-vnlp-icon-petri-dish-filled:before { content: '\e820'; } /* '' */
.icon-vnlp-icon-petri-dish-line:before { content: '\e821'; } /* '' */
.icon-vnlp-icon-picker-filled:before { content: '\e822'; } /* '' */
.icon-vnlp-icon-picker-line:before { content: '\e823'; } /* '' */
.icon-vnlp-icon-picture-in-picture-filled:before { content: '\e824'; } /* '' */
.icon-vnlp-icon-picture-in-picture-line:before { content: '\e825'; } /* '' */
.icon-vnlp-icon-pie-01-filled:before { content: '\e826'; } /* '' */
.icon-vnlp-icon-pie-01-line:before { content: '\e827'; } /* '' */
.icon-vnlp-icon-pie-02-filled:before { content: '\e828'; } /* '' */
.icon-vnlp-icon-pie-02-line:before { content: '\e829'; } /* '' */
.icon-vnlp-icon-pie-03-filled:before { content: '\e82a'; } /* '' */
.icon-vnlp-icon-pie-03-line:before { content: '\e82b'; } /* '' */
.icon-vnlp-icon-pie-04-filled:before { content: '\e82c'; } /* '' */
.icon-vnlp-icon-pie-04-line:before { content: '\e82d'; } /* '' */
.icon-vnlp-icon-pill-filled:before { content: '\e82e'; } /* '' */
.icon-vnlp-icon-pill-line:before { content: '\e82f'; } /* '' */
.icon-vnlp-icon-pinterest-filled:before { content: '\e830'; } /* '' */
.icon-vnlp-icon-pinterest-line:before { content: '\e831'; } /* '' */
.icon-vnlp-icon-pizza-slice-filled:before { content: '\e832'; } /* '' */
.icon-vnlp-icon-pizza-slice-line:before { content: '\e833'; } /* '' */
.icon-vnlp-icon-play-circle-filled:before { content: '\e834'; } /* '' */
.icon-vnlp-icon-play-circle-line:before { content: '\e835'; } /* '' */
.icon-vnlp-icon-play-filled:before { content: '\e836'; } /* '' */
.icon-vnlp-icon-play-line:before { content: '\e837'; } /* '' */
.icon-vnlp-icon-plus-01-line:before { content: '\e838'; } /* '' */
.icon-vnlp-icon-plus-02-line:before { content: '\e839'; } /* '' */
.icon-vnlp-icon-plus-square-filled:before { content: '\e83a'; } /* '' */
.icon-vnlp-icon-plus-square-line:before { content: '\e83b'; } /* '' */
.icon-vnlp-icon-previous-filled:before { content: '\e83c'; } /* '' */
.icon-vnlp-icon-previous-line:before { content: '\e83d'; } /* '' */
.icon-vnlp-icon-printer-filled:before { content: '\e83e'; } /* '' */
.icon-vnlp-icon-printer-line:before { content: '\e83f'; } /* '' */
.icon-vnlp-icon-product-hunt-filled:before { content: '\e840'; } /* '' */
.icon-vnlp-icon-product-hunt-line:before { content: '\e841'; } /* '' */
.icon-vnlp-icon-phone-filled:before { content: '\e842'; } /* '' */
.icon-vnlp-icon-phone-line:before { content: '\e843'; } /* '' */
.icon-vnlp-icon-question-circle-filled:before { content: '\e844'; } /* '' */
.icon-vnlp-icon-question-circle-line:before { content: '\e845'; } /* '' */
.icon-vnlp-icon-quote-filled:before { content: '\e846'; } /* '' */
.icon-vnlp-icon-receipt-filled:before { content: '\e847'; } /* '' */
.icon-vnlp-icon-receipt-line:before { content: '\e848'; } /* '' */
.icon-vnlp-icon-rec-filled:before { content: '\e849'; } /* '' */
.icon-vnlp-icon-rec-line:before { content: '\e84a'; } /* '' */
.icon-vnlp-icon-route-filled:before { content: '\e84b'; } /* '' */
.icon-vnlp-icon-route-line:before { content: '\e84c'; } /* '' */
.icon-vnlp-icon-safe-filled:before { content: '\e84d'; } /* '' */
.icon-vnlp-icon-safe-line:before { content: '\e84e'; } /* '' */
.icon-vnlp-icon-salt-shaker-filled:before { content: '\e84f'; } /* '' */
.icon-vnlp-icon-salt-shaker-line:before { content: '\e850'; } /* '' */
.icon-vnlp-icon-scale-filled:before { content: '\e851'; } /* '' */
.icon-vnlp-icon-scale-line:before { content: '\e852'; } /* '' */
.icon-vnlp-icon-scatter-down-filled:before { content: '\e853'; } /* '' */
.icon-vnlp-icon-scatter-down-line:before { content: '\e854'; } /* '' */
.icon-vnlp-icon-scatter-up-line:before { content: '\e855'; } /* '' */
.icon-vnlp-icon-scatter-up-filled:before { content: '\e856'; } /* '' */
.icon-vnlp-icon-scoreboard-filled:before { content: '\e857'; } /* '' */
.icon-vnlp-icon-scoreboard-line:before { content: '\e858'; } /* '' */
.icon-vnlp-icon-search-line:before { content: '\e859'; } /* '' */
.icon-vnlp-icon-serving-plate-filled:before { content: '\e85a'; } /* '' */
.icon-vnlp-icon-serving-plate-line:before { content: '\e85b'; } /* '' */
.icon-vnlp-icon-settings-01-filled:before { content: '\e85c'; } /* '' */
.icon-vnlp-icon-settings-02-filled:before { content: '\e85d'; } /* '' */
.icon-vnlp-icon-settings-01-line:before { content: '\e85e'; } /* '' */
.icon-vnlp-icon-settings-filled:before { content: '\e85f'; } /* '' */
.icon-vnlp-icon-settings-02-line:before { content: '\e860'; } /* '' */
.icon-vnlp-icon-settings-line:before { content: '\e861'; } /* '' */
.icon-vnlp-icon-share-square-filled:before { content: '\e862'; } /* '' */
.icon-vnlp-icon-share-square-line:before { content: '\e863'; } /* '' */
.icon-vnlp-icon-shop-filled:before { content: '\e864'; } /* '' */
.icon-vnlp-icon-shop-line:before { content: '\e865'; } /* '' */
.icon-vnlp-icon-shopping-bag-filled:before { content: '\e866'; } /* '' */
.icon-vnlp-icon-shopping-bag-line:before { content: '\e867'; } /* '' */
.icon-vnlp-icon-shopping-basket-filled:before { content: '\e868'; } /* '' */
.icon-vnlp-icon-shopping-basket-line:before { content: '\e869'; } /* '' */
.icon-vnlp-icon-shopping-cart-filled:before { content: '\e86a'; } /* '' */
.icon-vnlp-icon-shopping-cart-line:before { content: '\e86b'; } /* '' */
.icon-vnlp-icon-shopping-tag-filled:before { content: '\e86c'; } /* '' */
.icon-vnlp-icon-shopping-tag-line:before { content: '\e86d'; } /* '' */
.icon-vnlp-icon-shorts-filled:before { content: '\e86e'; } /* '' */
.icon-vnlp-icon-shorts-line:before { content: '\e86f'; } /* '' */
.icon-vnlp-icon-signal-level-100-filled:before { content: '\e870'; } /* '' */
.icon-vnlp-icon-signal-level-100-line:before { content: '\e871'; } /* '' */
.icon-vnlp-icon-sign-out-filled:before { content: '\e872'; } /* '' */
.icon-vnlp-icon-sign-out-line:before { content: '\e873'; } /* '' */
.icon-vnlp-icon-sketch-filled:before { content: '\e874'; } /* '' */
.icon-vnlp-icon-sketch-line:before { content: '\e875'; } /* '' */
.icon-vnlp-icon-slice-tool-filled:before { content: '\e876'; } /* '' */
.icon-vnlp-icon-slice-tool-line:before { content: '\e877'; } /* '' */
.icon-vnlp-icon-smart-watch-filled:before { content: '\e878'; } /* '' */
.icon-vnlp-icon-smart-watch-line:before { content: '\e879'; } /* '' */
.icon-vnlp-icon-smile-filled:before { content: '\e87a'; } /* '' */
.icon-vnlp-icon-smile-line:before { content: '\e87b'; } /* '' */
.icon-vnlp-icon-soccer-field-filled:before { content: '\e87c'; } /* '' */
.icon-vnlp-icon-soccer-field-line:before { content: '\e87d'; } /* '' */
.icon-vnlp-icon-sort-filled:before { content: '\e87e'; } /* '' */
.icon-vnlp-icon-sort-line:before { content: '\e87f'; } /* '' */
.icon-vnlp-icon-soundcloud-filled:before { content: '\e880'; } /* '' */
.icon-vnlp-icon-soundcloud-line:before { content: '\e881'; } /* '' */
.icon-vnlp-icon-soup-filled:before { content: '\e882'; } /* '' */
.icon-vnlp-icon-soup-line:before { content: '\e883'; } /* '' */
.icon-vnlp-icon-speakers-filled:before { content: '\e884'; } /* '' */
.icon-vnlp-icon-speakers-line:before { content: '\e885'; } /* '' */
.icon-vnlp-icon-sports-flag-filled:before { content: '\e886'; } /* '' */
.icon-vnlp-icon-sports-flag-line:before { content: '\e887'; } /* '' */
.icon-vnlp-icon-stacked-area-down-filled:before { content: '\e888'; } /* '' */
.icon-vnlp-icon-stacked-area-down-line:before { content: '\e889'; } /* '' */
.icon-vnlp-icon-stacked-area-up-filled:before { content: '\e88a'; } /* '' */
.icon-vnlp-icon-stacked-area-up-line:before { content: '\e88b'; } /* '' */
.icon-vnlp-icon-stacked-column-01-average-filled:before { content: '\e88c'; } /* '' */
.icon-vnlp-icon-stacked-column-01-average-line:before { content: '\e88d'; } /* '' */
.icon-vnlp-icon-stacked-column-01-down-filled:before { content: '\e88e'; } /* '' */
.icon-vnlp-icon-stacked-column-01-down-line:before { content: '\e88f'; } /* '' */
.icon-vnlp-icon-stacked-column-01-up-filled:before { content: '\e890'; } /* '' */
.icon-vnlp-icon-stacked-column-01-up-line:before { content: '\e891'; } /* '' */
.icon-vnlp-icon-stacked-column-02-average-filled:before { content: '\e892'; } /* '' */
.icon-vnlp-icon-stacked-column-02-average-line:before { content: '\e893'; } /* '' */
.icon-vnlp-icon-stacked-column-02-down-filled:before { content: '\e894'; } /* '' */
.icon-vnlp-icon-stacked-column-02-down-line:before { content: '\e895'; } /* '' */
.icon-vnlp-icon-stacked-column-02-up-filled:before { content: '\e896'; } /* '' */
.icon-vnlp-icon-stacked-column-02-up-line:before { content: '\e897'; } /* '' */
.icon-vnlp-icon-standings-filled:before { content: '\e898'; } /* '' */
.icon-vnlp-icon-standings-line:before { content: '\e899'; } /* '' */
.icon-vnlp-icon-star-filled:before { content: '\e89a'; } /* '' */
.icon-vnlp-icon-star-line:before { content: '\e89b'; } /* '' */
.icon-vnlp-icon-stethoscope-filled:before { content: '\e89c'; } /* '' */
.icon-vnlp-icon-stethoscope-line:before { content: '\e89d'; } /* '' */
.icon-vnlp-icon-sticky-note-filled:before { content: '\e89e'; } /* '' */
.icon-vnlp-icon-sticky-note-line:before { content: '\e89f'; } /* '' */
.icon-vnlp-icon-stop-circle-filled:before { content: '\e8a0'; } /* '' */
.icon-vnlp-icon-stop-circle-line:before { content: '\e8a1'; } /* '' */
.icon-vnlp-icon-stop-filled:before { content: '\e8a2'; } /* '' */
.icon-vnlp-icon-stop-line:before { content: '\e8a3'; } /* '' */
.icon-vnlp-icon-stopwatch-filled:before { content: '\e8a4'; } /* '' */
.icon-vnlp-icon-stopwatch-line:before { content: '\e8a5'; } /* '' */
.icon-vnlp-icon-stretch-height-filled:before { content: '\e8a6'; } /* '' */
.icon-vnlp-icon-stretch-height-line:before { content: '\e8a7'; } /* '' */
.icon-vnlp-icon-stretch-width-filled:before { content: '\e8a8'; } /* '' */
.icon-vnlp-icon-stretch-width-line:before { content: '\e8a9'; } /* '' */
.icon-vnlp-icon-subtitles-filled:before { content: '\e8aa'; } /* '' */
.icon-vnlp-icon-subtitles-line:before { content: '\e8ab'; } /* '' */
.icon-vnlp-icon-syringe-filled:before { content: '\e8ac'; } /* '' */
.icon-vnlp-icon-syringe-line:before { content: '\e8ad'; } /* '' */
.icon-vnlp-icon-table-tennis-filled:before { content: '\e8ae'; } /* '' */
.icon-vnlp-icon-table-tennis-line:before { content: '\e8af'; } /* '' */
.icon-vnlp-icon-tablets-filled:before { content: '\e8b0'; } /* '' */
.icon-vnlp-icon-tablets-line:before { content: '\e8b1'; } /* '' */
.icon-vnlp-icon-test-tube-filled:before { content: '\e8b2'; } /* '' */
.icon-vnlp-icon-test-tube-line:before { content: '\e8b3'; } /* '' */
.icon-vnlp-icon-text-filled:before { content: '\e8b4'; } /* '' */
.icon-vnlp-icon-text-line:before { content: '\e8b5'; } /* '' */
.icon-vnlp-icon-tie-filled:before { content: '\e8b6'; } /* '' */
.icon-vnlp-icon-tie-line:before { content: '\e8b7'; } /* '' */
.icon-vnlp-icon-tiktok-filled:before { content: '\e8b8'; } /* '' */
.icon-vnlp-icon-tiktok-line:before { content: '\e8b9'; } /* '' */
.icon-vnlp-icon-toilet-paper-filled:before { content: '\e8ba'; } /* '' */
.icon-vnlp-icon-toilet-paper-line:before { content: '\e8bb'; } /* '' */
.icon-vnlp-icon-toothbrush-filled:before { content: '\e8bc'; } /* '' */
.icon-vnlp-icon-toothbrush-line:before { content: '\e8bd'; } /* '' */
.icon-vnlp-icon-t-shirt-filled:before { content: '\e8be'; } /* '' */
.icon-vnlp-icon-t-shirt-line:before { content: '\e8bf'; } /* '' */
.icon-vnlp-icon-twitter-filled:before { content: '\e8c0'; } /* '' */
.icon-vnlp-icon-twitter-line:before { content: '\e8c1'; } /* '' */
.icon-vnlp-icon-thermometer-filled:before { content: '\e8c2'; } /* '' */
.icon-vnlp-icon-thermometer-line:before { content: '\e8c3'; } /* '' */
.icon-vnlp-icon-trashbin-filled:before { content: '\e8c4'; } /* '' */
.icon-vnlp-icon-trashbin-line:before { content: '\e8c5'; } /* '' */
.icon-vnlp-icon-trello-filled:before { content: '\e8c6'; } /* '' */
.icon-vnlp-icon-trello-line:before { content: '\e8c7'; } /* '' */
.icon-vnlp-icon-triangle-ruler-filled:before { content: '\e8c8'; } /* '' */
.icon-vnlp-icon-triangle-ruler-line:before { content: '\e8c9'; } /* '' */
.icon-vnlp-icon-umbrella-filled:before { content: '\e8ca'; } /* '' */
.icon-vnlp-icon-umbrella-line:before { content: '\e8cb'; } /* '' */
.icon-vnlp-icon-upanddown-line:before { content: '\e8cc'; } /* '' */
.icon-vnlp-icon-user-filled:before { content: '\e8cd'; } /* '' */
.icon-vnlp-icon-user-line:before { content: '\e8ce'; } /* '' */
.icon-vnlp-icon-vector-edit-filled:before { content: '\e8cf'; } /* '' */
.icon-vnlp-icon-vector-edit-line:before { content: '\e8d0'; } /* '' */
.icon-vnlp-icon-video-filled:before { content: '\e8d1'; } /* '' */
.icon-vnlp-icon-video-line:before { content: '\e8d2'; } /* '' */
.icon-vnlp-icon-virus-filled:before { content: '\e8d3'; } /* '' */
.icon-vnlp-icon-virus-line:before { content: '\e8d4'; } /* '' */
.icon-vnlp-icon-volume-down-filled:before { content: '\e8d5'; } /* '' */
.icon-vnlp-icon-volume-down-line:before { content: '\e8d6'; } /* '' */
.icon-vnlp-icon-volume-filled:before { content: '\e8d7'; } /* '' */
.icon-vnlp-icon-volume-line:before { content: '\e8d8'; } /* '' */
.icon-vnlp-icon-volume-mute-filled:before { content: '\e8d9'; } /* '' */
.icon-vnlp-icon-volume-mute-line:before { content: '\e8da'; } /* '' */
.icon-vnlp-icon-volume-up-filled:before { content: '\e8db'; } /* '' */
.icon-vnlp-icon-volume-up-line:before { content: '\e8dc'; } /* '' */
.icon-vnlp-icon-wallet-filled:before { content: '\e8dd'; } /* '' */
.icon-vnlp-icon-wallet-line:before { content: '\e8de'; } /* '' */
.icon-vnlp-icon-weight-filled:before { content: '\e8df'; } /* '' */
.icon-vnlp-icon-weight-line:before { content: '\e8e0'; } /* '' */
.icon-vnlp-icon-whistle-filled:before { content: '\e8e1'; } /* '' */
.icon-vnlp-icon-whistle-line:before { content: '\e8e2'; } /* '' */
.icon-vnlp-icon-wi-fi-filled:before { content: '\e8e3'; } /* '' */
.icon-vnlp-icon-wi-fi-line:before { content: '\e8e4'; } /* '' */
.icon-vnlp-icon-windows-filled:before { content: '\e8e5'; } /* '' */
.icon-vnlp-icon-windows-line:before { content: '\e8e6'; } /* '' */
.icon-vnlp-icon-wine-glass-filled:before { content: '\e8e7'; } /* '' */
.icon-vnlp-icon-wine-glass-line:before { content: '\e8e8'; } /* '' */
.icon-vnlp-icon-youtube-filled:before { content: '\e8e9'; } /* '' */
.icon-vnlp-icon-youtube-line:before { content: '\e8ea'; } /* '' */
.icon-vnlp-icon-zoom-filled:before { content: '\e8eb'; } /* '' */
.icon-vnlp-icon-zoom-in-filled:before { content: '\e8ec'; } /* '' */
.icon-vnlp-icon-zoom-in-line:before { content: '\e8ed'; } /* '' */
.icon-vnlp-icon-zoom-out-filled:before { content: '\e8ee'; } /* '' */
.icon-vnlp-icon-zoom-out-line:before { content: '\e8ef'; } /* '' */
.icon-vnlp-icon-сalculator-filled:before { content: '\e8f0'; } /* '' */
.icon-vnlp-icon-сalculator-line:before { content: '\e8f1'; } /* '' */
.icon-vnlp-icon-airplay-filled:before { content: '\e8f2'; } /* '' */
.icon-vnlp-icon-airplay-line:before { content: '\e8f3'; } /* '' */
.icon-vnlp-icon-android-filled:before { content: '\e8f4'; } /* '' */
.icon-vnlp-icon-android-line:before { content: '\e8f5'; } /* '' */
.icon-vnlp-icon-apple-filled:before { content: '\e8f6'; } /* '' */
.icon-vnlp-icon-apple-line:before { content: '\e8f7'; } /* '' */
.icon-vnlp-icon-archive-filled:before { content: '\e8f8'; } /* '' */
.icon-vnlp-icon-archive-line:before { content: '\e8f9'; } /* '' */
.icon-vnlp-icon-arrow-down-line:before { content: '\e8fa'; } /* '' */
.icon-vnlp-icon-arrow-down-simple-line:before { content: '\e8fb'; } /* '' */
.icon-vnlp-icon-arrow-down-square-filled:before { content: '\e8fc'; } /* '' */
.icon-vnlp-icon-arrow-down-square-line:before { content: '\e8fd'; } /* '' */
.icon-vnlp-icon-arrow-left-line:before { content: '\e8fe'; } /* '' */
.icon-vnlp-icon-arrow-left-simple-line:before { content: '\e8ff'; } /* '' */
.icon-vnlp-icon-arrow-left-square-filled:before { content: '\e900'; } /* '' */
.icon-vnlp-icon-arrow-left-square-line:before { content: '\e901'; } /* '' */
.icon-vnlp-icon-arrow-right-line:before { content: '\e902'; } /* '' */
.icon-vnlp-icon-arrow-right-simple-line:before { content: '\e903'; } /* '' */
.icon-vnlp-icon-arrow-right-square-filled:before { content: '\e904'; } /* '' */
.icon-vnlp-icon-arrow-right-square-line:before { content: '\e905'; } /* '' */
.icon-vnlp-icon-arrow-up-line:before { content: '\e906'; } /* '' */
.icon-vnlp-icon-arrow-up-simple-line:before { content: '\e907'; } /* '' */
.icon-vnlp-icon-arrow-up-square-filled:before { content: '\e908'; } /* '' */
.icon-vnlp-icon-arrow-up-square-line:before { content: '\e909'; } /* '' */
.icon-vnlp-icon-at-filled:before { content: '\e90a'; } /* '' */
.icon-vnlp-icon-at-line:before { content: '\e90b'; } /* '' */
.icon-vnlp-icon-atm-filled:before { content: '\e90c'; } /* '' */
.icon-vnlp-icon-atm-line:before { content: '\e90d'; } /* '' */
.icon-vnlp-icon-avocado-filled:before { content: '\e90e'; } /* '' */
.icon-vnlp-icon-avocado-line:before { content: '\e90f'; } /* '' */
.icon-vnlp-icon-backward-15-sec-filled:before { content: '\e910'; } /* '' */
.icon-vnlp-icon-backward-15-sec-line:before { content: '\e911'; } /* '' */
.icon-vnlp-icon-backward-filled:before { content: '\e912'; } /* '' */
.icon-vnlp-icon-backward-line:before { content: '\e913'; } /* '' */
.icon-vnlp-icon-badge-discount-filled:before { content: '\e914'; } /* '' */
.icon-vnlp-icon-badge-discount-line:before { content: '\e915'; } /* '' */
.icon-vnlp-icon-badge-discount-line-1:before { content: '\e916'; } /* '' */
.icon-vnlp-icon-bank-filled:before { content: '\e917'; } /* '' */
.icon-vnlp-icon-bank-line:before { content: '\e918'; } /* '' */
.icon-vnlp-icon-bank-note-filled:before { content: '\e919'; } /* '' */
.icon-vnlp-icon-bank-note-line:before { content: '\e91a'; } /* '' */
.icon-vnlp-icon-bar-01-average-filled:before { content: '\e91b'; } /* '' */
.icon-vnlp-icon-bar-01-average-line:before { content: '\e91c'; } /* '' */
.icon-vnlp-icon-bar-01-down-filled:before { content: '\e91d'; } /* '' */
.icon-vnlp-icon-bar-01-down-line:before { content: '\e91e'; } /* '' */
.icon-vnlp-icon-bar-01-up-filled:before { content: '\e91f'; } /* '' */
.icon-vnlp-icon-bar-01-up-line:before { content: '\e920'; } /* '' */
.icon-vnlp-icon-bar-02-average-filled:before { content: '\e921'; } /* '' */
.icon-vnlp-icon-bar-02-average-line:before { content: '\e922'; } /* '' */
.icon-vnlp-icon-bar-02-down-filled:before { content: '\e923'; } /* '' */
.icon-vnlp-icon-bar-02-down-line:before { content: '\e924'; } /* '' */
.icon-vnlp-icon-bar-02-up-filled:before { content: '\e925'; } /* '' */
.icon-vnlp-icon-bar-02-up-line:before { content: '\e926'; } /* '' */
.icon-vnlp-icon-barcode-filled:before { content: '\e927'; } /* '' */
.icon-vnlp-icon-barcode-line:before { content: '\e928'; } /* '' */
.icon-vnlp-icon-baseball-ball-filled:before { content: '\e929'; } /* '' */
.icon-vnlp-icon-baseball-ball-line:before { content: '\e92a'; } /* '' */
.icon-vnlp-icon-basketball-ball-filled:before { content: '\e92b'; } /* '' */
.icon-vnlp-icon-basketball-ball-line:before { content: '\e92c'; } /* '' */
.icon-vnlp-icon-basketball-hoop-filled:before { content: '\e92d'; } /* '' */
.icon-vnlp-icon-basketball-hoop-line:before { content: '\e92e'; } /* '' */
.icon-vnlp-icon-battery-100-filled:before { content: '\e92f'; } /* '' */
.icon-vnlp-icon-battery-100-line:before { content: '\e930'; } /* '' */
.icon-vnlp-icon-beaker-filled:before { content: '\e931'; } /* '' */
.icon-vnlp-icon-beaker-line:before { content: '\e932'; } /* '' */
.icon-vnlp-icon-behance-filled:before { content: '\e933'; } /* '' */
.icon-vnlp-icon-behance-line:before { content: '\e934'; } /* '' */
.icon-vnlp-icon-bell-line:before { content: '\e935'; } /* '' */
.icon-vnlp-icon-bluetooth-filled:before { content: '\e936'; } /* '' */
.icon-vnlp-icon-bluetooth-line:before { content: '\e937'; } /* '' */
.icon-vnlp-icon-bookmark-filled:before { content: '\e938'; } /* '' */
.icon-vnlp-icon-bookmark-line:before { content: '\e939'; } /* '' */
.icon-vnlp-icon-bowling-ball-filled:before { content: '\e93a'; } /* '' */
.icon-vnlp-icon-bowling-ball-line:before { content: '\e93b'; } /* '' */
.icon-vnlp-icon-boxes-filled:before { content: '\e93c'; } /* '' */
.icon-vnlp-icon-boxes-line:before { content: '\e93d'; } /* '' */
.icon-vnlp-icon-briefcase-filled:before { content: '\e93e'; } /* '' */
.icon-vnlp-icon-briefcase-line:before { content: '\e93f'; } /* '' */
.icon-vnlp-icon-brightness-down-filled:before { content: '\e940'; } /* '' */
.icon-vnlp-icon-brightness-down-line:before { content: '\e941'; } /* '' */
.icon-vnlp-icon-brightness-up-filled:before { content: '\e942'; } /* '' */
.icon-vnlp-icon-brightness-up-line:before { content: '\e943'; } /* '' */
.icon-vnlp-icon-brush-filled:before { content: '\e944'; } /* '' */
.icon-vnlp-icon-brush-line:before { content: '\e945'; } /* '' */
.icon-vnlp-icon-bubble-race-filled:before { content: '\e946'; } /* '' */
.icon-vnlp-icon-bubble-race-line:before { content: '\e947'; } /* '' */
.icon-vnlp-icon-building-filled:before { content: '\e948'; } /* '' */
.icon-vnlp-icon-building-line:before { content: '\e949'; } /* '' */
.icon-vnlp-icon-burger-filled:before { content: '\e94a'; } /* '' */
.icon-vnlp-icon-burger-filled-1:before { content: '\e94b'; } /* '' */
.icon-vnlp-icon-burger-line:before { content: '\e94c'; } /* '' */
.icon-vnlp-icon-burger-line-1:before { content: '\e94d'; } /* '' */
.icon-vnlp-icon-cabinet-files-filled:before { content: '\e94e'; } /* '' */
.icon-vnlp-icon-cabinet-files-line:before { content: '\e94f'; } /* '' */
.icon-vnlp-icon-calculator-filled:before { content: '\e950'; } /* '' */
.icon-vnlp-icon-calculator-line:before { content: '\e951'; } /* '' */
.icon-vnlp-icon-calendar-filled:before { content: '\e952'; } /* '' */
.icon-vnlp-icon-calendar-line:before { content: '\e953'; } /* '' */
.icon-vnlp-icon-camera-filled:before { content: '\e954'; } /* '' */
.icon-vnlp-icon-camera-line:before { content: '\e955'; } /* '' */
.icon-vnlp-icon-candlesticks-down-filled:before { content: '\e956'; } /* '' */
.icon-vnlp-icon-candlesticks-down-line:before { content: '\e957'; } /* '' */
.icon-vnlp-icon-candlesticks-filled:before { content: '\e958'; } /* '' */
.icon-vnlp-icon-candlesticks-line:before { content: '\e959'; } /* '' */
.icon-vnlp-icon-candlesticks-up-filled:before { content: '\e95a'; } /* '' */
.icon-vnlp-icon-candlesticks-up-line:before { content: '\e95b'; } /* '' */
.icon-vnlp-icon-carrot-filled:before { content: '\e95c'; } /* '' */
.icon-vnlp-icon-carrot-line:before { content: '\e95d'; } /* '' */
.icon-vnlp-icon-circle-and-square-filled:before { content: '\e95e'; } /* '' */
.icon-vnlp-icon-circle-and-square-line:before { content: '\e95f'; } /* '' */
.icon-vnlp-icon-circle-filled:before { content: '\e960'; } /* '' */
.icon-vnlp-icon-circle-line:before { content: '\e961'; } /* '' */
.icon-vnlp-icon-circular-01-filled:before { content: '\e962'; } /* '' */
.icon-vnlp-icon-circular-01-line:before { content: '\e963'; } /* '' */
.icon-vnlp-icon-circular-02-filled:before { content: '\e964'; } /* '' */
.icon-vnlp-icon-circular-02-line:before { content: '\e965'; } /* '' */
.icon-vnlp-icon-clock-filled:before { content: '\e966'; } /* '' */
.icon-vnlp-icon-clock-line:before { content: '\e967'; } /* '' */
.icon-vnlp-icon-close-circle-filled:before { content: '\e968'; } /* '' */
.icon-vnlp-icon-close-circle-line:before { content: '\e969'; } /* '' */
.icon-vnlp-icon-close-line:before { content: '\e96a'; } /* '' */
.icon-vnlp-icon-close-square-filled:before { content: '\e96b'; } /* '' */
.icon-vnlp-icon-close-square-line:before { content: '\e96c'; } /* '' */
.icon-vnlp-icon-cog-filled:before { content: '\e96d'; } /* '' */
.icon-vnlp-icon-cog-line:before { content: '\e96e'; } /* '' */
.icon-vnlp-icon-coin-filled:before { content: '\e96f'; } /* '' */
.icon-vnlp-icon-coin-line:before { content: '\e970'; } /* '' */
.icon-vnlp-icon-coins-filled:before { content: '\e971'; } /* '' */
.icon-vnlp-icon-coins-line:before { content: '\e972'; } /* '' */
.icon-vnlp-icon-column-01-average-filled:before { content: '\e973'; } /* '' */
.icon-vnlp-icon-column-01-average-line:before { content: '\e974'; } /* '' */
.icon-vnlp-icon-column-01-down-filled:before { content: '\e975'; } /* '' */
.icon-vnlp-icon-column-01-down-line:before { content: '\e976'; } /* '' */
.icon-vnlp-icon-column-01-up-filled:before { content: '\e977'; } /* '' */
.icon-vnlp-icon-column-01-up-line:before { content: '\e978'; } /* '' */
.icon-vnlp-icon-column-02-average-filled:before { content: '\e979'; } /* '' */
.icon-vnlp-icon-column-02-average-line:before { content: '\e97a'; } /* '' */
.icon-vnlp-icon-column-02-down-filled:before { content: '\e97b'; } /* '' */
.icon-vnlp-icon-column-02-down-line:before { content: '\e97c'; } /* '' */
.icon-vnlp-icon-column-02-up-filled:before { content: '\e97d'; } /* '' */
.icon-vnlp-icon-column-02-up-line:before { content: '\e97e'; } /* '' */
.icon-vnlp-icon-column-and-line-down-filled:before { content: '\e97f'; } /* '' */
.icon-vnlp-icon-column-and-line-down-line:before { content: '\e980'; } /* '' */
.icon-vnlp-icon-column-and-line-up-filled:before { content: '\e981'; } /* '' */
.icon-vnlp-icon-column-and-line-up-line:before { content: '\e982'; } /* '' */
.icon-vnlp-icon-comment-filled:before { content: '\e983'; } /* '' */
.icon-vnlp-icon-comment-line:before { content: '\e984'; } /* '' */
.icon-vnlp-icon-computer-mouse-filled:before { content: '\e985'; } /* '' */
.icon-vnlp-icon-computer-mouse-line:before { content: '\e986'; } /* '' */
.icon-vnlp-icon-controller-filled:before { content: '\e987'; } /* '' */
.icon-vnlp-icon-controller-line:before { content: '\e988'; } /* '' */
.icon-vnlp-icon-counter-line:before { content: '\e989'; } /* '' */
.icon-vnlp-icon-coupon-discount-filled:before { content: '\e98a'; } /* '' */
.icon-vnlp-icon-coupon-discount-line:before { content: '\e98b'; } /* '' */
.icon-vnlp-icon-credit-card-filled:before { content: '\e98c'; } /* '' */
.icon-vnlp-icon-credit-card-line:before { content: '\e98d'; } /* '' */
.icon-vnlp-icon-crop-tool-filled:before { content: '\e98e'; } /* '' */
.icon-vnlp-icon-crop-tool-line:before { content: '\e98f'; } /* '' */
.icon-vnlp-icon-cup-01-filled:before { content: '\e990'; } /* '' */
.icon-vnlp-icon-cup-01-line:before { content: '\e991'; } /* '' */
.icon-vnlp-icon-cup-02-filled:before { content: '\e992'; } /* '' */
.icon-vnlp-icon-cup-02-line:before { content: '\e993'; } /* '' */
.icon-vnlp-icon-cup-filled:before { content: '\e994'; } /* '' */
.icon-vnlp-icon-cup-line:before { content: '\e995'; } /* '' */
.icon-vnlp-icon-cup-to-go-filled:before { content: '\e996'; } /* '' */
.icon-vnlp-icon-cup-to-go-line:before { content: '\e997'; } /* '' */
.icon-vnlp-icon-chart-bar-filled:before { content: '\e998'; } /* '' */
.icon-vnlp-icon-chart-bar-line:before { content: '\e999'; } /* '' */
.icon-vnlp-icon-check-filled:before { content: '\e99a'; } /* '' */
.icon-vnlp-icon-check-line:before { content: '\e99b'; } /* '' */
.icon-vnlp-icon-darts-filled:before { content: '\e99c'; } /* '' */
.icon-vnlp-icon-darts-line:before { content: '\e99d'; } /* '' */
.icon-vnlp-icon-delivery-truck-filled:before { content: '\e99e'; } /* '' */
.icon-vnlp-icon-delivery-truck-line:before { content: '\e99f'; } /* '' */
.icon-vnlp-icon-design-grid-filled:before { content: '\e9a0'; } /* '' */
.icon-vnlp-icon-design-grid-line:before { content: '\e9a1'; } /* '' */
.icon-vnlp-icon-discount-filled:before { content: '\e9a2'; } /* '' */
.icon-vnlp-icon-discount-line:before { content: '\e9a3'; } /* '' */
.icon-vnlp-icon-donut-filled:before { content: '\e9a4'; } /* '' */
.icon-vnlp-icon-donut-line:before { content: '\e9a5'; } /* '' */
.icon-vnlp-icon-doughnut-filled:before { content: '\e9a6'; } /* '' */
.icon-vnlp-icon-doughnut-line:before { content: '\e9a7'; } /* '' */
.icon-vnlp-icon-download-filled:before { content: '\e9a8'; } /* '' */
.icon-vnlp-icon-download-line:before { content: '\e9a9'; } /* '' */
.icon-vnlp-icon-dragdrop-line:before { content: '\e9aa'; } /* '' */
.icon-vnlp-icon-dribbble-filled:before { content: '\e9ab'; } /* '' */
.icon-vnlp-icon-dribbble-line:before { content: '\e9ac'; } /* '' */
.icon-vnlp-icon-earphones-filled:before { content: '\e9ad'; } /* '' */
.icon-vnlp-icon-earphones-line:before { content: '\e9ae'; } /* '' */
.icon-vnlp-icon-edit-filled:before { content: '\e9af'; } /* '' */
.icon-vnlp-icon-edit-line:before { content: '\e9b0'; } /* '' */
.icon-vnlp-icon-eject-filled:before { content: '\e9b1'; } /* '' */
.icon-vnlp-icon-eject-line:before { content: '\e9b2'; } /* '' */
.icon-vnlp-icon-electrical-plug-filled:before { content: '\e9b3'; } /* '' */
.icon-vnlp-icon-electrical-plug-line:before { content: '\e9b4'; } /* '' */
.icon-vnlp-icon-email-filled:before { content: '\e9b5'; } /* '' */
.icon-vnlp-icon-email-line:before { content: '\e9b6'; } /* '' */
.icon-vnlp-icon-english-filled:before { content: '\e9b7'; } /* '' */
.icon-vnlp-icon-eraser-filled:before { content: '\e9b8'; } /* '' */
.icon-vnlp-icon-eraser-line:before { content: '\e9b9'; } /* '' */
.icon-vnlp-icon-exit-full-screen-filled:before { content: '\e9ba'; } /* '' */
.icon-vnlp-icon-exit-full-screen-line:before { content: '\e9bb'; } /* '' */
.icon-vnlp-icon-eye-filled:before { content: '\e9bc'; } /* '' */
.icon-vnlp-icon-eye-line:before { content: '\e9bd'; } /* '' */
.icon-vnlp-icon-eye-line-1:before { content: '\e9be'; } /* '' */
.icon-vnlp-icon-facebook-filled:before { content: '\e9bf'; } /* '' */
.icon-vnlp-icon-facebook-line:before { content: '\e9c0'; } /* '' */
.icon-vnlp-icon-fast-backward-filled:before { content: '\e9c1'; } /* '' */
.icon-vnlp-icon-fast-backward-line:before { content: '\e9c2'; } /* '' */
.icon-vnlp-icon-fast-forward-filled:before { content: '\e9c3'; } /* '' */
.icon-vnlp-icon-fast-forward-line:before { content: '\e9c4'; } /* '' */
.icon-vnlp-icon-fencing-filled:before { content: '\e9c5'; } /* '' */
.icon-vnlp-icon-fencing-line:before { content: '\e9c6'; } /* '' */
.icon-vnlp-icon-figma-filled:before { content: '\e9c7'; } /* '' */
.icon-vnlp-icon-figma-line:before { content: '\e9c8'; } /* '' */
.icon-vnlp-icon-file-alert-filled:before { content: '\e9c9'; } /* '' */
.icon-vnlp-icon-file-alert-line:before { content: '\e9ca'; } /* '' */
.icon-vnlp-icon-file-archive-filled:before { content: '\e9cb'; } /* '' */
.icon-vnlp-icon-file-archive-line:before { content: '\e9cc'; } /* '' */
.icon-vnlp-icon-file-code-filled:before { content: '\e9cd'; } /* '' */
.icon-vnlp-icon-file-code-line:before { content: '\e9ce'; } /* '' */
.icon-vnlp-icon-file-cross-filled:before { content: '\e9cf'; } /* '' */
.icon-vnlp-icon-file-cross-line:before { content: '\e9d0'; } /* '' */
.icon-vnlp-icon-file-chart-filled:before { content: '\e9d1'; } /* '' */
.icon-vnlp-icon-file-chart-line:before { content: '\e9d2'; } /* '' */
.icon-vnlp-icon-file-chart-line-filled:before { content: '\e9d3'; } /* '' */
.icon-vnlp-icon-file-chart-line-line:before { content: '\e9d4'; } /* '' */
.icon-vnlp-icon-file-check-filled:before { content: '\e9d5'; } /* '' */
.icon-vnlp-icon-file-check-line:before { content: '\e9d6'; } /* '' */
.icon-vnlp-icon-file-document-filled:before { content: '\e9d7'; } /* '' */
.icon-vnlp-icon-file-document-line:before { content: '\e9d8'; } /* '' */
.icon-vnlp-icon-file-download-filled:before { content: '\e9d9'; } /* '' */
.icon-vnlp-icon-file-download-line:before { content: '\e9da'; } /* '' */
.icon-vnlp-icon-file-erase-filled:before { content: '\e9db'; } /* '' */
.icon-vnlp-icon-file-erase-line:before { content: '\e9dc'; } /* '' */
.icon-vnlp-icon-file-filled:before { content: '\e9dd'; } /* '' */
.icon-vnlp-icon-file-image-filled:before { content: '\e9de'; } /* '' */
.icon-vnlp-icon-file-image-line:before { content: '\e9df'; } /* '' */
.icon-vnlp-icon-file-line:before { content: '\e9e0'; } /* '' */
.icon-vnlp-icon-file-minus-filled:before { content: '\e9e1'; } /* '' */
.icon-vnlp-icon-file-minus-line:before { content: '\e9e2'; } /* '' */
.icon-vnlp-icon-file-music-filled:before { content: '\e9e3'; } /* '' */
.icon-vnlp-icon-file-music-line:before { content: '\e9e4'; } /* '' */
.icon-vnlp-icon-file-plus-filled:before { content: '\e9e5'; } /* '' */
.icon-vnlp-icon-file-plus-line:before { content: '\e9e6'; } /* '' */
.icon-vnlp-icon-file-search-filled:before { content: '\e9e7'; } /* '' */
.icon-vnlp-icon-file-search-line:before { content: '\e9e8'; } /* '' */
.icon-vnlp-icon-file-star-filled:before { content: '\e9e9'; } /* '' */
.icon-vnlp-icon-file-star-line:before { content: '\e9ea'; } /* '' */
.icon-vnlp-icon-file-table-filled:before { content: '\e9eb'; } /* '' */
.icon-vnlp-icon-file-table-line:before { content: '\e9ec'; } /* '' */
.icon-vnlp-icon-file-text-filled:before { content: '\e9ed'; } /* '' */
.icon-vnlp-icon-file-text-line:before { content: '\e9ee'; } /* '' */
.icon-vnlp-icon-file-upload-filled:before { content: '\e9ef'; } /* '' */
.icon-vnlp-icon-file-upload-line:before { content: '\e9f0'; } /* '' */
.icon-vnlp-icon-file-video-filled:before { content: '\e9f1'; } /* '' */
.icon-vnlp-icon-file-video-line:before { content: '\e9f2'; } /* '' */
.icon-vnlp-icon-filter-filled:before { content: '\e9f3'; } /* '' */
.icon-vnlp-icon-filter-line:before { content: '\e9f4'; } /* '' */
.icon-vnlp-icon-flag-filled:before { content: '\e9f5'; } /* '' */
.icon-vnlp-icon-flag-line:before { content: '\e9f6'; } /* '' */
.icon-vnlp-icon-flag-refesh:before { content: '\e9f7'; } /* '' */
.icon-vnlp-icon-flash-drive-filled:before { content: '\e9f8'; } /* '' */
.icon-vnlp-icon-flash-drive-line:before { content: '\e9f9'; } /* '' */
.icon-vnlp-icon-flip-chart-filled:before { content: '\e9fa'; } /* '' */
.icon-vnlp-icon-flip-chart-line:before { content: '\e9fb'; } /* '' */
.icon-vnlp-icon-folder-filled:before { content: '\e9fc'; } /* '' */
.icon-vnlp-icon-folder-line:before { content: '\e9fd'; } /* '' */
.icon-vnlp-icon-football-ball-filled:before { content: '\e9fe'; } /* '' */
.icon-vnlp-icon-football-ball-line:before { content: '\e9ff'; } /* '' */
.icon-vnlp-icon-fork-and-knife-filled:before { content: '\ea00'; } /* '' */
.icon-vnlp-icon-fork-and-knife-line:before { content: '\ea01'; } /* '' */
.icon-vnlp-icon-forward-15-sec-filled:before { content: '\ea02'; } /* '' */
.icon-vnlp-icon-forward-15-sec-line:before { content: '\ea03'; } /* '' */
.icon-vnlp-icon-forward-filled:before { content: '\ea04'; } /* '' */
.icon-vnlp-icon-forward-line:before { content: '\ea05'; } /* '' */
.icon-vnlp-icon-foursquare-filled:before { content: '\ea06'; } /* '' */
.icon-vnlp-icon-foursquare-line:before { content: '\ea07'; } /* '' */
.icon-vnlp-icon-french-fries-filled:before { content: '\ea08'; } /* '' */
.icon-vnlp-icon-french-fries-line:before { content: '\ea09'; } /* '' */
.icon-vnlp-icon-full-screen-filled:before { content: '\ea0a'; } /* '' */
.icon-vnlp-icon-full-screen-line:before { content: '\ea0b'; } /* '' */
.icon-vnlp-icon-glass-filled:before { content: '\ea0c'; } /* '' */
.icon-vnlp-icon-glass-line:before { content: '\ea0d'; } /* '' */
.icon-vnlp-icon-globe-filled:before { content: '\ea0e'; } /* '' */
.icon-vnlp-icon-globe-line:before { content: '\ea0f'; } /* '' */
.icon-vnlp-icon-gold-filled:before { content: '\ea10'; } /* '' */
.icon-vnlp-icon-gold-line:before { content: '\ea11'; } /* '' */
.icon-vnlp-icon-google-line:before { content: '\ea12'; } /* '' */
.icon-vnlp-icon-grid-filled:before { content: '\ea13'; } /* '' */
.icon-vnlp-icon-grid-horizontal-filled:before { content: '\ea14'; } /* '' */
.icon-vnlp-icon-grid-horizontal-line:before { content: '\ea15'; } /* '' */
.icon-vnlp-icon-grid-line:before { content: '\ea16'; } /* '' */
.icon-vnlp-icon-grid-vetical-filled:before { content: '\ea17'; } /* '' */
.icon-vnlp-icon-grid-vetical-line:before { content: '\ea18'; } /* '' */
.icon-vnlp-icon-gift-filled:before { content: '\ea19'; } /* '' */
.icon-vnlp-icon-gift-line:before { content: '\ea1a'; } /* '' */
.icon-vnlp-icon-hand-cart-filled:before { content: '\ea1b'; } /* '' */
.icon-vnlp-icon-hand-cart-line:before { content: '\ea1c'; } /* '' */
.icon-vnlp-icon-hand-sanitizer-filled:before { content: '\ea1d'; } /* '' */
.icon-vnlp-icon-hand-sanitizer-line:before { content: '\ea1e'; } /* '' */
.icon-vnlp-icon-hat-chef-filled:before { content: '\ea1f'; } /* '' */
.icon-vnlp-icon-hat-chef-line:before { content: '\ea20'; } /* '' */
.icon-vnlp-icon-heart-filled:before { content: '\ea21'; } /* '' */
.icon-vnlp-icon-heart-line:before { content: '\ea22'; } /* '' */
.icon-vnlp-icon-heart-rate-filled:before { content: '\ea23'; } /* '' */
.icon-vnlp-icon-heart-rate-line:before { content: '\ea24'; } /* '' */
.icon-vnlp-icon-help-filled:before { content: '\ea25'; } /* '' */
.icon-vnlp-icon-help-line:before { content: '\ea26'; } /* '' */
.icon-vnlp-icon-hindeye-filled:before { content: '\ea27'; } /* '' */
.icon-vnlp-icon-hockey-filled:before { content: '\ea28'; } /* '' */
.icon-vnlp-icon-hockey-line:before { content: '\ea29'; } /* '' */
.icon-vnlp-icon-home-filled:before { content: '\ea2a'; } /* '' */
.icon-vnlp-icon-home-line:before { content: '\ea2b'; } /* '' */
.icon-vnlp-icon-hospital-building-filled:before { content: '\ea2c'; } /* '' */
.icon-vnlp-icon-hospital-building-line:before { content: '\ea2d'; } /* '' */
.icon-vnlp-icon-hourglass-filled:before { content: '\ea2e'; } /* '' */
.icon-vnlp-icon-hourglass-line:before { content: '\ea2f'; } /* '' */
.icon-vnlp-icon-ice-cream-filled:before { content: '\ea30'; } /* '' */
.icon-vnlp-icon-ice-cream-line:before { content: '\ea31'; } /* '' */
.icon-vnlp-icon-image-filled:before { content: '\ea32'; } /* '' */
.icon-vnlp-icon-image-line:before { content: '\ea33'; } /* '' */
.icon-vnlp-icon-info-circle-filled:before { content: '\ea34'; } /* '' */
.icon-vnlp-icon-info-circle-line:before { content: '\ea35'; } /* '' */
.icon-vnlp-icon-insert-filled:before { content: '\ea36'; } /* '' */
.icon-vnlp-icon-insert-line:before { content: '\ea37'; } /* '' */
.icon-vnlp-icon-instagram-filled:before { content: '\ea38'; } /* '' */
.icon-vnlp-icon-instagram-line:before { content: '\ea39'; } /* '' */
.icon-vnlp-icon-intravenous-therapy-filled:before { content: '\ea3a'; } /* '' */
.icon-vnlp-icon-intravenous-therapy-line:before { content: '\ea3b'; } /* '' */
.icon-vnlp-icon-keyboard-filled:before { content: '\ea3c'; } /* '' */
.icon-vnlp-icon-keyboard-line:before { content: '\ea3d'; } /* '' */
.icon-vnlp-icon-laptop-filled:before { content: '\ea3e'; } /* '' */
.icon-vnlp-icon-laptop-line:before { content: '\ea3f'; } /* '' */
.icon-vnlp-icon-library-album-filled:before { content: '\ea40'; } /* '' */
.icon-vnlp-icon-library-album-line:before { content: '\ea41'; } /* '' */
.icon-vnlp-icon-library-video-filled:before { content: '\ea42'; } /* '' */
.icon-vnlp-icon-library-video-line:before { content: '\ea43'; } /* '' */
.icon-vnlp-icon-light-bulb-filled:before { content: '\ea44'; } /* '' */
.icon-vnlp-icon-light-bulb-line:before { content: '\ea45'; } /* '' */
.icon-vnlp-icon-lightning-filled:before { content: '\ea46'; } /* '' */
.icon-vnlp-icon-lightning-line:before { content: '\ea47'; } /* '' */
.icon-vnlp-icon-line-01-down-filled:before { content: '\ea48'; } /* '' */
.icon-vnlp-icon-line-01-down-line:before { content: '\ea49'; } /* '' */
.icon-vnlp-icon-line-01-up-filled:before { content: '\ea4a'; } /* '' */
.icon-vnlp-icon-line-01-up-line:before { content: '\ea4b'; } /* '' */
.icon-vnlp-icon-line-02-down-filled:before { content: '\ea4c'; } /* '' */
.icon-vnlp-icon-line-02-down-line:before { content: '\ea4d'; } /* '' */
.icon-vnlp-icon-line-02-up-filled:before { content: '\ea4e'; } /* '' */
.icon-vnlp-icon-line-02-up-line:before { content: '\ea4f'; } /* '' */
.icon-vnlp-icon-line-03-down-filled:before { content: '\ea50'; } /* '' */
.icon-vnlp-icon-line-03-down-line:before { content: '\ea51'; } /* '' */
.icon-vnlp-icon-line-03-up-filled:before { content: '\ea52'; } /* '' */
.icon-vnlp-icon-line-03-up-line:before { content: '\ea53'; } /* '' */
.icon-vnlp-icon-linkedin-filled:before { content: '\ea54'; } /* '' */
.icon-vnlp-icon-linkedin-line:before { content: '\ea55'; } /* '' */
.icon-vnlp-icon-list-filled:before { content: '\ea56'; } /* '' */
.icon-vnlp-icon-list-line:before { content: '\ea57'; } /* '' */
.icon-vnlp-icon-loading-filled:before { content: '\ea58'; } /* '' */
.icon-vnlp-icon-loading-line:before { content: '\ea59'; } /* '' */
.icon-vnlp-icon-location-arrow-filled:before { content: '\ea5a'; } /* '' */
.icon-vnlp-icon-location-arrow-line:before { content: '\ea5b'; } /* '' */
.icon-vnlp-icon-lock-filled:before { content: '\ea5c'; } /* '' */
.icon-vnlp-icon-lock-line:before { content: '\ea5d'; } /* '' */
.icon-vnlp-icon-lollipop-filled:before { content: '\ea5e'; } /* '' */
.icon-vnlp-icon-lollipop-line:before { content: '\ea5f'; } /* '' */
.icon-vnlp-icon-mail-filled:before { content: '\ea60'; } /* '' */
.icon-vnlp-icon-map-filled:before { content: '\ea61'; } /* '' */
.icon-vnlp-icon-map-line:before { content: '\ea62'; } /* '' */
.icon-vnlp-icon-map-marker-filled:before { content: '\ea63'; } /* '' */
.icon-vnlp-icon-map-marker-line:before { content: '\ea64'; } /* '' */
.icon-vnlp-icon-medal-filled:before { content: '\ea65'; } /* '' */
.icon-vnlp-icon-medal-line:before { content: '\ea66'; } /* '' */
.icon-vnlp-icon-medical-case-filled:before { content: '\ea67'; } /* '' */
.icon-vnlp-icon-medical-case-line:before { content: '\ea68'; } /* '' */
.icon-vnlp-icon-medical-chart-filled:before { content: '\ea69'; } /* '' */
.icon-vnlp-icon-medical-chart-line:before { content: '\ea6a'; } /* '' */
.icon-vnlp-icon-medical-mask-filled:before { content: '\ea6b'; } /* '' */
.icon-vnlp-icon-medical-mask-line:before { content: '\ea6c'; } /* '' */
.icon-vnlp-icon-medicine-bottle-filled:before { content: '\ea6d'; } /* '' */
.icon-vnlp-icon-medicine-bottle-line:before { content: '\ea6e'; } /* '' */
.icon-vnlp-icon-megaphone-filled:before { content: '\ea6f'; } /* '' */
.icon-vnlp-icon-megaphone-line:before { content: '\ea70'; } /* '' */
.icon-vnlp-icon-messenger-filled:before { content: '\ea71'; } /* '' */
.icon-vnlp-icon-messenger-line:before { content: '\ea72'; } /* '' */
.icon-vnlp-icon-microchip-filled:before { content: '\ea73'; } /* '' */
.icon-vnlp-icon-microchip-line:before { content: '\ea74'; } /* '' */
.icon-vnlp-icon-microphone-filled:before { content: '\ea75'; } /* '' */
.icon-vnlp-icon-microphone-line:before { content: '\ea76'; } /* '' */
.icon-vnlp-icon-minus-01-line:before { content: '\ea77'; } /* '' */
.icon-vnlp-icon-minus-02-line:before { content: '\ea78'; } /* '' */
.icon-vnlp-icon-minus-square-filled:before { content: '\ea79'; } /* '' */
.icon-vnlp-icon-minus-square-line:before { content: '\ea7a'; } /* '' */
.icon-vnlp-icon-mobile-filled:before { content: '\ea7b'; } /* '' */
.icon-vnlp-icon-mobile-line:before { content: '\ea7c'; } /* '' */
.icon-vnlp-icon-modem-filled:before { content: '\ea7d'; } /* '' */
.icon-vnlp-icon-modem-line:before { content: '\ea7e'; } /* '' */
.icon-vnlp-icon-monitor-filled:before { content: '\ea7f'; } /* '' */
.icon-vnlp-icon-monitor-line:before { content: '\ea80'; } /* '' */
.icon-vnlp-icon-more-line:before { content: '\ea81'; } /* '' */
.icon-vnlp-icon-movie-filled:before { content: '\ea82'; } /* '' */
.icon-vnlp-icon-movie-line:before { content: '\ea83'; } /* '' */
