@import './../../assets/sass/base/variable';
@import './../../assets/sass/base/mixins';

.options {
  background-color: map-get($color, neutral-8);
  overflow: hidden;

  li {
    &:hover {
      background-color: map-get($color, primary-100);
    }
  }
}

.popover-options {
  &:hover {
    background-color: map-get($color, primary-100);
  }

  &.opened {
    background-color: map-get($color, primary-100);
  }

  .options {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
    z-index: 1;
  }
}
