<div>
  <div class="label-text">
    {{ label }}
    <i [class]="'icon-vnlp-icon-info-circle-linear'"></i>
  </div>
  <div
    tabindex="-1"
    class="main-dropdown-container"
    (click)="toggleDataPanel()"
    #inputDropdown
    [ngStyle]="{ width: dropDownSettings.dropdownWidth }"
  >
    <div *ngIf="!dropDownSettings.singleSelection" class="element-selected">
      <div *ngFor="let sel of selectedOptions; let i = index" class="item">
        <span>
          {{ sel.value }}
        </span>
        <span
          (click)="removefromselected(sel.value, i)"
          class="text-neutral-4 text-lg font-bold cursor-pointer"
        >
          <i [class]="'icon-vnlp-icon-close-linear'"></i>
        </span>
      </div>
      <div *ngIf="selectedOptions.length < 1">
        <span
          class="overflow-hidden text-ellipsis whitespace-nowrap flex-1 text-sm text-neutral-5"
        >
          {{ dropDownSettings.placeholder }}
        </span>
      </div>
    </div>
    <div *ngIf="dropDownSettings.singleSelection" class="element-selected">
      <span *ngIf="selectedOptions.length > 0">
        {{ selectedOptions[0].value }}
      </span>
      <div *ngIf="selectedOptions.length < 1">
        <span
          class="overflow-hidden text-ellipsis whitespace-nowrap flex-1 text-sm text-neutral-5"
        >
          {{ dropDownSettings.placeholder }}
        </span>
      </div>
    </div>
    <div class="flex">
      <span
        [ngClass]="{ 'rotate-180': isShowdataPanel }"
        class="text-neutral-4 text-xl transition-all duration-500"
      >
        <i [class]="'icon-vnlp-icon-arrow-down-1-linear'"></i>
      </span>
    </div>
  </div>
  <!---data list panel-->
  <div
    *ngIf="isShowdataPanel"
    class="selected-item-container"
    #dropdownContainer
    [ngStyle]="{ width: dropDownSettings.dropdownWidth }"
  >
    <div *ngIf="empty" class="flex justify-center items-center p-[20px]">
      <span>No Record Found</span>
    </div>
    <div *ngIf="!empty" class="flex flex-col">
      <div *ngIf="dropDownSettings.allowSearchFilter" #searchContainer class="search-input">
        <div class="flex items-center gap-[8px]">
          <span class="text-neutral-4 text-xl font-bold">
            <i [class]="'icon-vnlp-icon-search-normal-1-linear'"></i>
          </span>
          <input
            (keyup)="handleSearch(searchPara.value)"
            #searchPara
            class="h-full w-full outline-none text-sm font-normal bg-transparent text-gray-700"
            name=""
            type="text"
            [placeholder]="'Search'"
          />
        </div>
      </div>
      <div *ngFor="let data of userData; let i = index" class="mt-[10px]">
        <div
          *ngIf="!dropDownSettings.singleSelection"
          (click)="selectOption(i, data, data['isSelected'])"
          class="flex h-[47px] px-[10px] rounded-[8px] cursor-pointer items-center gap-[10px] hover:bg-neutral-7"
        >
          <vnlp-checkbox
            [(checked)]="data['isSelected']"
          ></vnlp-checkbox>
          <div>{{ data.value }}</div>
        </div>
        <div
          *ngIf="dropDownSettings.singleSelection"
          (click)="selectOption(i, data)"
          class="flex h-[47px] px-[10px] rounded-[8px] cursor-pointer items-center hover:bg-neutral-7"
        >
          <div>{{ data.value }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
