<div
  [ngClass]="{
    'tickbox-container inline-flex justify-between items-center': true,
    disabled: disabled
  }"
  (click)="handleCheck()"
>
  <span
    *ngIf="label"
    [ngClass]="{
      'tickbox-label txt-sm txt-sm select-none': true,
      'order-1': labelPosition === 'left',
      'ml-2': label && labelPosition === 'left',
      'mr-2': label && labelPosition === 'right'
    }"
  >
    {{ label }}
  </span>
  <div
    [ngClass]="{
      'tickbox-input': true,
      'tickbox-input--checked': checked
    }"
  ></div>
</div>
