<label
  for="fileInput"
  class="file-uploader-container"
  (drop)="handleDrop($event)"
  (dragover)="handleDragOver($event)"
  (dragleave)="handleDragLeave($event)"
>
  <i class="icon icon-vnlp-icon-document-upload-linear"></i>
  <p class="file-label-text">Drop file here or</p>
  <span class="file-label">Browse</span>
  <input
    type="file"
    id="fileInput"
    [multiple]="multiple"
    (change)="handleFileInput($event.target)"
    class="hidden"
  />
</label>
<div class="file-list">
  <div *ngFor="let file of fileList" class="file-item">
    <span class="file-icon">
      <i class="icon-vnlp-icon-file-erase-line"></i>
    </span>
    <span class="file-name">{{ file.name }}</span>
    <span class="file-size">{{ formatSize(file.size) }}</span>
    <span (click)="deleteFile(file)" class="delete-icon">
      <i class="icon icon-vnlp-icon-close-circle-linear"></i>
    </span>
  </div>
</div>
