<button
  [ngClass]="{
    'create-virtual-agent h-[150px] w-[260px] rounded-xl transition-all ease-in-out duration-200 cursor-pointer': true,
    'create-mode': mode === 'create',
    'show-mode': mode === 'show'
  }"
  (click)="handleClick()"
  [disabled]="disabled"
>
  <div
    *ngIf="mode === 'create'"
    class="w-full min-h-full flex flex-col justify-center items-center"
  >
    <i class="icon icon-vnlp-icon-plus-02-line txt-xxl"></i>
    <span class="mt-2 color-neutral-3 txt-sm font-[500]">{{ label }}</span>
  </div>
  <div *ngIf="mode === 'show'" class="w-full min-h-full flex flex-col p-[14px]">
    <div class="flex justify-between">
      <span class="txt-sm txt-bold color-neutral-2">{{ title }}</span>
      <i
        [ngClass]="{
          'icon icon-voice': type === 'voice',
          'icon icon-chat': type === 'chat'
        }"
      ></i>
    </div>
    <div
      class="description mb-3 color-neutral-4 txt-sm w-[190px] h-[50px] txt-left"
    >
      {{ description }}
    </div>
    <div class="divider"></div>
    <div class="pt-[12px] flex justify-between items-center">
      <vnlp-label-tag [type]="labelType" [text]="labelText"></vnlp-label-tag>
      <div
        [ngClass]="{
          'popover-options flex items-center rounded-md relative h-[24px]': true,
          opened: showOptions
        }"
      >
        <span class="more-options-icon" (click)="onShowOptions()">
          <i class="icon icon-vnlp-icon-more-line txt-xxl"></i>
        </span>

        <ul
          *ngIf="showOptions"
          class="options rounded-[10px] absolute right-[50%] top-[50%] w-[218px]"
        >
          <li
            class="txt-sm txt-left p-2"
            (click)="handleClickUpdateVirtualAgent($event)"
          >
            <i class="icon icon-vnlp-icon-twitter-line"></i>
            <span> Update</span>
          </li>
          <li
            class="txt-sm txt-left p-2"
            (click)="handleClickAddSubVirtualAgent($event)"
          >
            <i class="icon icon-vnlp-icon-twitter-line"></i>
            <span> Add sub Virtual Agent</span>
          </li>
          <li
            class="txt-left txt-sm p-2"
            (click)="handleClickDeleteVirtualAgent($event)"
          >
            <i class="icon icon-vnlp-icon-twitter-line"></i>
            <span> Delete</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</button>
