<button
  [ngClass]="{
    'create-virtual-agent-container w-[260px] rounded-xl transition-all ease-in-out duration-200 cursor-pointer': true,
    'create-mode': mode === 'create',
    'show-mode': mode === 'show'
  }"
  (click)="mode === 'create' && handleCreate()"
  [disabled]="disabled"
>
  <div
    *ngIf="mode === 'create'"
    class="w-full min-h-full flex flex-col justify-center items-center"
  >
    <i class="icon icon-vnlp-icon-plus-02-line txt-xxl"></i>
    <span class="mt-2 color-neutral-3 txt-sm font-[500]">{{ label }}</span>
  </div>
  <div *ngIf="mode === 'show'" class="w-full min-h-full flex flex-col p-[14px]">
    <div class="flex justify-between">
      <span class="txt-sm txt-bold color-neutral-2">{{ title }}</span>
      <i
        [ngClass]="{
          'icon icon-voice': type === 'voice',
          'icon icon-chat': type === 'chat'
        }"
      ></i>
    </div>
    <div
      class="description mb-3 color-neutral-4 txt-sm w-[190px] h-[50px] txt-left"
    >
      {{ description }}
    </div>
    <div class="divider"></div>
    <div class="pt-[12px] flex justify-between items-center">
      <vnlp-label-tag [type]="labelType" [text]="labelText"></vnlp-label-tag>
      <vnlp-popover
        (onOptionClick)="handleBindingDataChange($event)"
        [options]="[
          {
            label: 'option 1',
            key: 'option 1'
          },
          {
            label: 'option 2',
            key: 'option 2'
          },
          {
            label: 'option 3',
            key: 'option 3'
          }
        ]"
        position="bottom left"
      ></vnlp-popover>
    </div>
  </div>
</button>
