<div class="relative">
  <div #inputCalendarContainer (click)="toggle()" class="main-calendar-input">
    <input
      #inputElement
      type="text"
      class="w-[100%] h-[100%] text-[16px] leading-[24px] outline-none bg-transparent cursor-pointer"
      [(ngModel)]="displayValue"
      readonly
      [placeholder]="currentOptions.placeholder"
      [id]="fieldId"
      [disabled]="disabled"
    />
    <span class="text-primary text-[20px] z-10">
      <i [class]="'icon-vnlp-icon-calendar-1-linear'"></i>
    </span>
  </div>
  <ng-content></ng-content>
  <div class="main-calendar-container" *ngIf="isOpened" #calendarContainer>
    <div class="relative">
      <div class="w-[100%] h-[50px]">
        <div
          class="flex justify-between py-[10px] items-center border-b-[1px] border-solid border-stroke"
        >
          <div
            (click)="prevMonth()"
            class="text-[12px] text-neutral-4 font-bold cursor-pointer"
          >
            <i [class]="'icon-vnlp-icon-arrow-left-2-linear'"></i>
          </div>
          <span
            class="text-sm text-neutral-2 font-bold cursor-pointer"
            (click)="toggleView()"
          >
            {{ barTitle }}
          </span>
          <div
            (click)="nextMonth()"
            class="text-[12px] text-neutral-4 font-bold cursor-pointer"
          >
            <i [class]="'icon-vnlp-icon-arrow-right-3-linear'"></i>
          </div>
        </div>
      </div>
      <div class="w-[100%] pt-[10px] text-xs font-normal">
        <ng-container *ngIf="view === 'days'">
          <div
            class="w-[100%] flex items-center text-sm text-neutral-5 font-normal"
          >
            <span class="day-name-unit" *ngFor="let name of dayNames">
              {{ name }}
            </span>
          </div>
          <div class="pt-[15px] w-[100%] inline-block">
            <span
              class="day-unit"
              *ngFor="let day of days; let i = index"
              (click)="day.isSelectable && setDate(i)"
            >
              <span
                class="day-background-upper"
                [ngClass]="this.getDayClasses(day)"
              >
                {{ day.isVisible ? day.day : '' }}
              </span>
              <span
                class="day-background-lower"
                [ngClass]="this.getDayClasses(day)"
              ></span>
            </span>
          </div>
        </ng-container>
        <div *ngIf="view === 'years'" class="main-calendar-years">
          <span
            *ngFor="let year of years; let i = index"
            class="year-unit"
            [ngClass]="{ 'is-selected': year.isThisYear }"
            (click)="setYear(i)"
          >
            {{ year.year }}
          </span>
        </div>
        <div *ngIf="view === 'months'" class="main-calendar-months">
          <span
            *ngFor="let month of months; let i = index"
            class="month-unit"
            [ngClass]="{ 'is-selected': month.isSelected }"
            (click)="setMonth(i)"
          >
            {{ month.name }}
          </span>
        </div>
      </div>
      <div class="absolute w-[100%] top-[320px]">
        <div class="flex items-center justify-between">
          <vnlp-button
            (click)="close()"
            type="light"
            title="Cancel"
          ></vnlp-button>
          <vnlp-button
            (click)="applyChange()"
            type="primary"
            title="Apply"
          ></vnlp-button>
        </div>
      </div>
    </div>
  </div>
</div>
