@import './../../assets/sass/base/variable';

.main-calendar-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: map-get($color, neutral-8);
  width: 302px;
  height: 48px;
  border-radius: 10px;
  padding: 12px 18px;
  z-index: 1;
  border: 1.5px solid map-get($color, stroke);
  cursor: pointer;

  &:focus-within {
    border: 1.5px solid map-get($color, primary);
  }
}

.main-calendar-container {
  position: absolute;
  width: 350px;
  height: 371px;
  border-radius: 8px;
  background: map-get($color, neutral-8);
  top: 55px;
  left: 0px;
  padding: 0px 10px;
  z-index: 2;
}

.day-name-unit {
  width: calc(100% / 7);
  text-align: center;
}

.day-unit,
.year-unit,
.month-unit {
  position: relative;
  width: calc(100% / 7);
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  display: inline-flex;
  float: left;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  box-shadow: inset 20px 0 0 0 map-get($color, neutral-8);
}

.day-background-upper {
  display: inline-flex;
  position: absolute;
  z-index: 1;
  width: 36px;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &.is-selected {
    background: map-get($color, primary);
    color: map-get($color, neutral-8);
  }

  &:not(.is-visible) {
    cursor: default;
  }

  &.is-visible {
    &:hover {
      border: 1px solid map-get($color, primary);
      color: map-get($color, neutral-1);
      background: map-get($color, neutral-8);
    }

    &.is-another-month {
      color: map-get($color, neutral-6);
    }

    &.is-disabled {
      cursor: not-allowed;
      color: map-get($color, neutral-6);
    }
  }
}

.day-background-lower {
  display: inline-flex;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &.is-in-range {
    background: map-get($color, neutral-6);
  }

  &.is-selected {
    background: map-get($color, neutral-8);
  }

  &.range-start {
    background: map-get($color, neutral-6);
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    box-shadow: inset 20px 0 0 0 map-get($color, neutral-8);
  }

  &.range-end {
    background: map-get($color, neutral-6);
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    box-shadow: inset -20px 0 0 0 map-get($color, neutral-8);
  }

}

.month-unit {
  width: 98px;
  height: 48px;
}

.year-unit {
  width: 98px;
  height: 48px;
}

.year-unit,
.month-unit {
  border-radius: 8px;

  &.is-selected {
    background: map-get($color, primary);
    color: map-get($color, neutral-8);
  }

  &:hover {
    background: map-get($color, primary-100);
    color: map-get($color, primary);
  }
}

.main-calendar-years {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 225px;
  color: map-get($color, neutral-4);
  font-weight: 500;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: map-get($color, neutral-5);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px map-get($color, neutral-8);
    border-radius: 10px;
  }
}

.main-calendar-months {
  display: flex;
  flex-wrap: wrap;
  color: map-get($color, neutral-4);
  font-weight: 500;
  gap: 12px;
}
