<div
  class="absolute top-[10px] left-[10px] flex justify-between items-center w-[202px] h-[40px] rounded-[8px] bg-neutral-7 py-[8px] pr-[18px] pl-[8px] hover:border-[1px] hover:bg-white focus-within:border-[1px] focus-within:border-primary focus-within:bg-white"
>
  <div class="flex items-center gap-[5px]">
    <ng-container
      [ngTemplateOutlet]="loading === true ? iconLoading : iconSearch"
    >
    </ng-container>

    <ng-template #iconLoading>
      <div class="loader"></div>
    </ng-template>

    <ng-template #iconSearch>
      <div class="text-neutral-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-[20px] w-[20px] mr-[4px]"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
      </div>
    </ng-template>

    <input
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchInputChange($event)"
      class="h-full w-full outline-none text-sm font-normal bg-transparent text-neutral-2"
      type="text"
      id="search"
      placeholder="Search"
    />
  </div>
  <div
    *ngIf="searchText"
    (click)="deleteSearch()"
    class="text-neutral-4 font-thin"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-[20px] w-[20px]"
      fill="none"
      viewBox="0 0 15 15"
      stroke="currentColor"
    >
      <path
        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
      />
    </svg>
  </div>
</div>
