.vnlp-logo-container {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.vnlp-logo--logo-only {
    width: 65px;
    height: 40px;
    background-image: url('../../assets/images/logo-only.svg');
  }

  &.vnlp-logo--logo-vertical {
    width: 65px;
    height: 60px;
    background-image: url('../../assets/images/logo-vertical.svg');
  }

  &.vnlp-logo--logo-horizontal {
    width: 156px;
    height: 32px;
    background-image: url('../../assets/images/logo-horizontal.svg');
  }
}
