<div
  [ngClass]="{
    'vnlp-checkbox-container flex items-center': true,
    disabled: disabled,
    'show-in-list': isShowInList,
    'show-divider': isShowDivider,
    checked: checked
  }"
  (click)="handleCheck()"
>
  <label
    *ngIf="label"
    [for]="name"
    [ngClass]="{
      'txt-sm txt-600 color-neutral-3 select-none': true,
      'order-2': labelPosition === 'right'
    }"
  >
    {{ label }}
  </label>
  <div class="">
    <div
      [ngClass]="{
        'default-check-box transition-all ease-in-out duration-200': true,
        'check-box-checked': checked,
        'mr-2': label && labelPosition === 'right'
      }"
    >
      <i *ngIf="checked" class="icon icon-vnlp-icon-check-line"></i>
    </div>
  </div>
</div>
