<div
  [ngClass]="{
    'checkbox-container inline-flex justify-between items-center mb-2': true,
    disabled: disabled
  }"
  (click)="handleCheck()"
>
  <label
    *ngIf="labelPosition === 'left'"
    [for]="name"
    class="txt-sm txt-600 mr-1 color-neutral-3 select-none"
    >{{ label }}</label
  >
  <div class="inline-block">
    <div
      *ngIf="!checked"
      class="default-check-box transition-all ease-in-out duration-200"
    ></div>
    <div
      *ngIf="checked"
      class="check-box-checked transition-all ease-in-out duration-200"
    >
      <i class="icon icon-vnlp-icon-check-line"></i>
    </div>
  </div>
  <label
    *ngIf="labelPosition === 'right'"
    [for]="name"
    class="txt-sm txt-600 ml-1 color-neutral-3 select-none"
    >{{ label }}</label
  >
</div>
