@import './../../assets/sass/base/variable';

.vnlp-checkbox-container {
  height: 18px;

  &.show-in-list {
    border-radius: 10px;
    padding: 10px 8px;

    &:hover {
      background-color: map-get($color, neutral-7);
    }
  }

  &.show-divider {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: map-get($color, stroke);
    }
  }

  &.checked {
    label {
      color: map-get($color, primary);
    }
  }

  &.disabled {
    label {
      color: map-get($color, neutral-5);
    }

    .default-check-box {
      background-color: map-get($color, neutral-6);

      &:hover {
        border: 1.5px solid map-get($color, neutral-5);
        box-shadow: none;
      }
    }

    .check-box-checked {
      background-color: map-get($color, neutral-6);

      &:hover {
        background-color: map-get($color, neutral-6);
        border: none;
      }

      &:active {
        box-shadow: none;
      }
    }

    &.checked {
      label {
        color: map-get($color, neutral-5);
      }
    }
  }

  .default-check-box {
    width: 18px;
    height: 18px;
    border: 1.5px solid map-get($color, neutral-5);
    background-color: map-get($color, neutral-8);
    border-radius: 5px;

    &:hover {
      border: 1.5px solid map-get($color, neutral-4);
    }

    &:active {
      box-shadow: 0 0 1px 4px map-get($color, neutral-6);
    }
  }

  .check-box-checked {
    width: 18px;
    height: 18px;
    border: none;
    background-color: map-get($color, primary);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
      color: map-get($color, neutral-8);
    }

    &:hover {
      background-color: map-get($color, primary-500);
      border: none;
    }

    &:active {
      box-shadow: 0 0 1px 4px map-get($color, primary-100);
    }
  }
}
