@import 'base/all';
@import 'state/all';
@import 'module/all';
@font-face {
  font-family: 'Inter';
  src: url('../font/Inter-Thin.ttf') format('ttf'),
    url('../font/Inter-ExtraLight.ttf') format('ttf'),
    url('../font/Inter-Light.ttf') format('ttf'),
    url('../font/Inter-Regular.ttf') format('ttf'),
    url('../font/Inter-Medium.ttf') format('ttf'),
    url('../font/Inter-SemiBold.ttf') format('ttf'),
    url('../font/Inter-Bold.ttf') format('ttf');
  font-weight: 100 200 300 400 500 600 700;
  font-style: normal;
}
