<div class="vnlp-textarea-container inline-block">
  <label [for]="name" class="inline-block txt-sm mb-3 font-[600]">{{
    label
  }}</label>
  <div class="relative w-[488px] h-[112px]">
    <textarea
      [name]="name"
      [id]="name"
      [cols]="cols"
      [rows]="rows"
      class="w-full rounded-lg"
      [(ngModel)]="value"
      (ngModelChange)="handleChange($event)"
      (blur)="handleBlur($event)"
      (keyup.enter)="handleBlur($event)"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [maxlength]="maxLength"
    >
    </textarea>
    <span class="counter inline-block text-sm absolute right-2 bottom-2"
      >{{ value.length }} / {{ maxLength }}</span
    >
  </div>
</div>
