<div class="vnlp-textarea-container inline-block">
  <label [for]="name" class="inline-block text-sm mb-2 font-medium">
    {{ label }}
  </label>
  <div class="relative" [style.width.px]="width">
    <textarea
      [name]="name"
      [id]="name"
      [rows]="rows"
      class="w-full rounded-lg"
      [(ngModel)]="value"
      (ngModelChange)="handleChange($event)"
      (blur)="handleBlur()"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [maxlength]="maxLength"
    ></textarea>
  </div>
  <span class="counter flex justify-end">
    {{ value.length }} / {{ maxLength }}
  </span>
</div>
