<div class="p-4">
  <vnlp-table
    [columns]="columns"
    [dataTable]="dataSource"
    [editable]="true"
    [deletable]="true"
    [selectable]="true"
  ></vnlp-table>
</div>

<div class="p-4">
  <vnlp-create-virtual-agent></vnlp-create-virtual-agent>
</div>

<!-- vnlp-button -->
<div class="p-4">
  <div class="flex justify-between h-[120px]">
    <div class="flex flex-col justify-between">
      <vnlp-button type="primary" title="button"></vnlp-button>
      <vnlp-button
        type="primary"
        title="button"
        [disabled]="true"
      ></vnlp-button>
    </div>
    <div class="flex flex-col justify-between">
      <vnlp-button
        type="primary"
        title="Create virtual agent"
        icon="star-filled"
      ></vnlp-button>
      <vnlp-button
        type="primary"
        title="button"
        icon="star-filled"
        [disabled]="true"
      ></vnlp-button>
    </div>
    <div class="flex flex-col justify-between">
      <vnlp-button
        type="primary"
        title="button"
        icon="star-filled"
        iconPosition="right"
      ></vnlp-button>
      <vnlp-button
        type="primary"
        title="button"
        icon="star-filled"
        iconPosition="right"
        [disabled]="true"
      >
      </vnlp-button>
    </div>
    <br />
  </div>

  <div class="pt-2 flex justify-between h-[120px]">
    <div class="flex flex-col justify-between">
      <vnlp-button type="light" title="button"></vnlp-button>
      <vnlp-button type="light" title="button" [disabled]="true"></vnlp-button>
    </div>
    <div class="flex flex-col justify-between">
      <vnlp-button type="light" title="button" icon="star-filled"></vnlp-button>
      <vnlp-button
        type="light"
        title="button"
        icon="star-filled"
        [disabled]="true"
      ></vnlp-button>
    </div>
    <div class="flex flex-col justify-between">
      <vnlp-button
        type="light"
        title="button"
        icon="star-filled"
        iconPosition="right"
      ></vnlp-button>
      <vnlp-button
        type="light"
        title="button"
        icon="star-filled"
        iconPosition="right"
        [disabled]="true"
      ></vnlp-button>
    </div>
    <br />
  </div>

  <div class="pt-2 flex justify-between h-[120px]">
    <div class="flex flex-col justify-between">
      <vnlp-button type="transparent" title="button"></vnlp-button>
      <vnlp-button
        type="transparent"
        title="button"
        [disabled]="true"
      ></vnlp-button>
    </div>
    <div class="flex flex-col justify-between">
      <vnlp-button
        type="transparent"
        title="button"
        icon="star-filled"
      ></vnlp-button>
      <vnlp-button
        type="transparent"
        title="button"
        icon="star-filled"
        [disabled]="true"
      ></vnlp-button>
    </div>
    <div class="flex flex-col justify-between">
      <vnlp-button
        type="transparent"
        title="button"
        icon="star-filled"
        iconPosition="right"
      ></vnlp-button>
      <vnlp-button
        type="transparent"
        title="button"
        icon="star-filled"
        iconPosition="right"
        [disabled]="true"
      >
      </vnlp-button>
    </div>
    <br />
  </div>
</div>

<!-- vnlp-checkbox -->
<div class="p-4 flex flex-col justify-between flex-wrap">
  <vnlp-checkbox [(checked)]="demoChecked"></vnlp-checkbox>
  <vnlp-checkbox [disabled]="true" [checked]="true"></vnlp-checkbox>
</div>

<!-- vnlp-checkbox-list -->
<div class="p-4 flex flex-col justify-between flex-wrap">
  <vnlp-checkbox-list [options]="demoCheckboxData"> </vnlp-checkbox-list>
</div>

<!-- vnlp-label-tag -->
<div class="p-4 flex justify-between flex-wrap">
  <vnlp-label-tag text="Label Text" type="gray"></vnlp-label-tag>
  <vnlp-label-tag text="Label Text" type="orange"></vnlp-label-tag>
  <vnlp-label-tag text="Label Text" type="red"></vnlp-label-tag>
  <vnlp-label-tag text="Label Text" type="blue"></vnlp-label-tag>
  <vnlp-label-tag text="Label Text" type="green"></vnlp-label-tag>
</div>

<!-- vnlp-switch -->
<div class="p-4 flex flex-col justify-between flex-wrap">
  <vnlp-switch
    [(checked)]="demoSwitch"
    label="Switch 1"
    labelPosition="left"
  ></vnlp-switch>
  <vnlp-switch
    [(checked)]="demoSwitch"
    [disabled]="true"
    label="Switch 2"
  ></vnlp-switch>
</div>

<!-- vnlp-textarea -->
<div class="p-4 flex justify-between flex-wrap">
  <vnlp-textarea
    label="Normal textarea"
    name="textarea1"
    [(value)]="demoInputValue"
    width="320"
    maxLength="100"
  ></vnlp-textarea>
</div>

{{ demoInputValue }}
