<div class="p-4">
    <div class="flex justify-between h-[120px]">
      <div class="flex flex-col justify-between">
        <vnlp-button type="primary" title="button"></vnlp-button>
        <vnlp-button
          type="primary"
          title="button"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <div class="flex flex-col justify-between">
        <vnlp-button
          type="primary"
          title="Create virtual agent"
          icon="icon-name"
        ></vnlp-button>
        <vnlp-button
          type="primary"
          title="button"
          icon="icon-name"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <div class="flex flex-col justify-between">
        <vnlp-button
          type="primary"
          title="button"
          icon="icon-name"
          iconPosition="right"
        ></vnlp-button>
        <vnlp-button
          type="primary"
          title="button"
          icon="icon-name"
          iconPosition="right"
          [disabled]="true"
        >
        </vnlp-button>
      </div>
      <br />
    </div>
  
    <div class="pt-2 flex justify-between h-[120px]">
      <div class="flex flex-col justify-between">
        <vnlp-button type="light" title="button"></vnlp-button>
        <vnlp-button type="light" title="button"  [disabled]="true"></vnlp-button>
      </div>
      <div class="flex flex-col justify-between">
        <vnlp-button type="light" title="button" icon="icon-name"></vnlp-button>
        <vnlp-button
          type="light"
          title="button"
          icon="icon-name"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <div class="flex flex-col justify-between">
        <vnlp-button
          type="light"
          title="button"
          icon="icon-name"
          iconPosition="right"
        ></vnlp-button>
        <vnlp-button
          type="light"
          title="button"
          icon="icon-name"
          iconPosition="right"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <br />
    </div>
  
    <div class="pt-2 flex justify-between h-[120px]">
      <div class="flex flex-col justify-between">
        <vnlp-button type="transparent" title="button"></vnlp-button>
        <vnlp-button
          type="transparent"
          title="button"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <div class="flex flex-col justify-between">
        <vnlp-button
          type="transparent"
          title="button"
          icon="icon-name"
        ></vnlp-button>
        <vnlp-button
          type="transparent"
          title="button"
          icon="icon-name"
          [disabled]="true"
        ></vnlp-button>
      </div>
      <div class="flex flex-col justify-between">
        <vnlp-button
          type="transparent"
          title="button"
          icon="icon-name"
          iconPosition="right"
        ></vnlp-button>
        <vnlp-button
          type="transparent"
          title="button"
          icon="icon-name"
          iconPosition="right"
          [disabled]="true"
        >
        </vnlp-button>
      </div>
      <br />
    </div>
  </div>
  
