<nav
  [ngClass]="(showSideBar$ | async) ? 'w-[240px]' : 'w-[70px]'"
  class="relative overflow-auto hidden h-[100%] flex-col items-center bg-neutral-8 transition-all duration-300 scrollbar-hide lg:flex"
>
  <div
    class="sticky top-[0px] w-[100%] pt-[35px] text-center z-10 bg-neutral-8 transition-all duration-300"
  >
    <div class="px-[12px]">
      <vnlp-logo
        [type]="(showSideBar$ | async) ? 'horizontal' : 'normal'"
      ></vnlp-logo>
    </div>
    <!-- Menu Items -->
    <div
      class="absolute top-[80px] right-[0px] flex items-center bg-neutral-8 justify-center w-[28px] rounded-[10px]"
      (click)="toggleSidebar()"
    >
      <i
        class="text-[28px] text-neutral-4 cursor-pointer"
        [ngClass]="{ 'rotate-180': !(showSideBar$ | async) }"
        [class]="'icon-vnlp-icon-arrow-right-linear'"
      ></i>
    </div>
  </div>
  <div class="absolute flex flex-col items-center gap-[80px] top-[90px]">
    <app-sidebar-menu></app-sidebar-menu>
    <div
      class="flex w-[220px] h-[40px] cursor-pointer items-center rounded-[8px] p-2 hover:bg-neutral-5 text-neutral-3 text-xl mb-[30px]"
    >
      <span>
        <i class="text-xl" [class]="'icon-vnlp-icon-logout-linear'"></i>
      </span>

      <a
        routerLink="/auth"
        *ngIf="showSideBar$ | async"
        class="ml-4 text-sm font-normal tracking-[0.004em] focus:outline-none"
      >
        Log out
      </a>
    </div>
  </div>
</nav>
