<nav
  [ngClass]="(showSideBar$ | async) ? 'w-[240px]' : 'w-[70px]'"
  class="relative overflow-auto hidden h-[100%] flex-col justify-between bg-neutral-8 transition-all duration-300 scrollbar-hide lg:flex"
>
  <div class="flex flex-col items-center px-[30px] py-[10px]">
    <vnlp-logo [type]="(showSideBar$ | async) ? 'horizontal' : 'normal'" class="fixed top-[35px] z-10 px-[20px]"></vnlp-logo>
    <!-- Menu Items -->
    <div
      class="fixed top-[75px] left-[224px] flex items-center justify-center transition-all duration-300 w-[28px] bg-neutral-8 rounded-[10px] z-10"
      [ngClass]="{ 'left-[54px]': !(showSideBar$ | async) }"
      (click)="toggleSidebar()"
    >
      <i
        class="text-[28px] text-neutral-4 transition-all duration-300 cursor-pointer"
        [ngClass]="{ 'rotate-180': !(showSideBar$ | async) }"
        [class]="'icon-vnlp-icon-arrow-right-linear'"
      ></i>
    </div>

    <app-sidebar-menu></app-sidebar-menu>
  </div>

  <div class="mx-2 my-4 space-y-1">
    <!-- Sign out -->
    <div
      class="group flex h-[40px] cursor-pointer items-center justify-start rounded-[8px] p-2 hover:bg-neutral-5 text-neutral-3 text-xl"
    >
      <span>
        <i class="text-xl" [class]="'icon-vnlp-icon-logout-linear'"></i>
      </span>

      <a
        routerLink="/auth"
        *ngIf="showSideBar$ | async"
        class="ml-4 text-sm font-normal tracking-[0.004em] focus:outline-none"
      >
        Log out
      </a>
    </div>
  </div>
</nav>
