@import 'mixins';

button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: 0;
  padding: 0;

  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.65;
  }
}

.btn-active {
  &:active {
    transform: scale(0.95);
  }
}

.btn {
  @extend .txt-button;
  @include pxRem(height, 40);
  @include pxRem(border-radius, 5);
  @include pxRem(min-width, 26);
  @include pxRem(padding, 0 8);
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  font-family: $font-family-default;
  justify-content: center;
  position: relative;
  transition: all 0.2s ease;

  &.btn-no-border {
    border: 0;
  }

  @mixin btn-color($btn-color, $btn-background) {
    background-color: map-get($color, $btn-background);
    color: map-get($color, $btn-color);
    border-color: map-get($color, $btn-color);

    &:hover {
      opacity: 0.75;
    }
    @extend .btn-active;
  }

  &-default {
    @include btn-color(black, gray);
  }

  &-primary {
    @include btn-color(white, primary);
  }

  &-secondary {
    @include btn-color(white, secondary);
  }

  &-wanning {
    @include btn-color(white, error);
  }

  &-normal {
    background-color: map-get($color, gray-3);
    color: map-get($color, black);
    border-color: map-get($color, border);
  }

  &-import {
    @include btn-color(white, active-2);
  }

  &-flat-primary {
    background: linear-gradient(
        225deg,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      linear-gradient(to bottom, #2475cb, #2475cb);
    background: -webkit-linear-gradient(
        225deg,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      linear-gradient(to bottom, #2475cb, #2475cb);
    background: -ms-linear-gradient(
        225deg,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      linear-gradient(to bottom, #2475cb, #2475cb);
    background-blend-mode: overlay, normal;
  }

  &-flat-secondary {
    @include btn-color(white, active);
    background: linear-gradient(
        256deg,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      linear-gradient(to bottom, #ff7201, #ff7201);
    background: -webkit-linear-gradient(
        256deg,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      linear-gradient(to bottom, #ff7201, #ff7201);
    background: -ms-linear-gradient(
        256deg,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      linear-gradient(to bottom, #ff7201, #ff7201);
    background-blend-mode: overlay, normal;
  }

  &-flat-active {
    background: linear-gradient(
        256deg,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      linear-gradient(to bottom, #64dd17, #64dd17);
    background: -webkit-linear-gradient(
        256deg,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      linear-gradient(to bottom, #64dd17, #64dd17);
    background: -ms-linear-gradient(
        256deg,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      linear-gradient(to bottom, #64dd17, #64dd17);
    background-blend-mode: overlay, normal;
  }
}
