.gray {
  color: #9b9b9b;
  background-color: #f5f5f5;
}

.orange {
  color: #ff7500;
  background-color: #fff0e6;
}

.red {
  color: #fb1b3c;
  background-color: #ffe8ec;
}

.green {
  color: #65ae29;
  background-color: #e8f6e8;
}

.blue {
  color: #007df9;
  background-color: #e8f0ff;
}

.purple {
  color: #a05aff;
  background-color: #f2e8ff;
}

.yellow {
  color: #fdc12c;
  background-color: #fff8e6;
}
