<div class="relative bg-gray-200 h-[60vh] mb-[200px]">
  <div class="w-[400px]">
    <vnlp-dropdown
      [dropDownSettings]="dropdownSettings"
      [label]="'Multiselect with drop'"
      [data]="listData"
      (valueChange)="getDropdownValue($event)"
    ></vnlp-dropdown>
  </div>
</div>

<div class="relative bg-gray-200 h-[60vh]">
  <vnlp-dropdown
    [dropDownSettings]="dropdownSettings2"
    [label]="'Dropdown select'"
    [data]="listData"
    (valueChange)="getDropdownValue($event)"
  ></vnlp-dropdown>
</div>

<div class="relative bg-gray-200 h-[50vh]">
  <vnlp-multiselect
    class="w-[400px]"
    [multiselectWidth]="'350px'"
    [label]="'Multiselect'"
    [multiEmail]="true"
    (valueChange)="getMultiselectValue($event)"
  ></vnlp-multiselect>
</div>

<div class="relative bg-gray-200 h-[100vh]">
  <div class="flex gap-[20px]">
    <vnlp-chip-label [type]="1" [style]="null"></vnlp-chip-label>
    <vnlp-chip-label [type]="1" [style]="'icon'"></vnlp-chip-label>
    <vnlp-chip-label></vnlp-chip-label>
    <vnlp-chip-label [type]="1" [style]="'icon text'"></vnlp-chip-label>
    <vnlp-chip-label [type]="1" [style]="'with image'"></vnlp-chip-label>
  </div>
  <div class="flex gap-[20px] mt-[30px]">
    <vnlp-chip-label [type]="2" [style]="null"></vnlp-chip-label>
    <vnlp-chip-label [type]="2" [style]="'icon'"></vnlp-chip-label>
    <vnlp-chip-label [type]="2"></vnlp-chip-label>
    <vnlp-chip-label [type]="2" [style]="'icon text'"></vnlp-chip-label>
    <vnlp-chip-label [type]="2" [style]="'with image'"></vnlp-chip-label>
  </div>
  <div class="flex gap-[20px] mt-[30px]">
    <vnlp-chip-label [type]="3" [style]="null"></vnlp-chip-label>
    <vnlp-chip-label [type]="3" [style]="'icon'"></vnlp-chip-label>
    <vnlp-chip-label [type]="3"></vnlp-chip-label>
    <vnlp-chip-label [type]="3" [style]="'icon text'"></vnlp-chip-label>
    <vnlp-chip-label [type]="3" [style]="'with image'"></vnlp-chip-label>
  </div>
</div>
